<!-- /.row -->
<section class="content-header" ng-init="getAll();">
  <h1>
    Process Management
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Material Received List</li>
  </ol>
</section>
<div align="center" v-align="bottom" ng-hide="loading1 == 1" style="margin: auto; height:400px;">
    <img src="resources/reload.gif" style="margin-top: 170px; height: 60px;width: 60px;">
</div>
<section class="content" ng-show="loading1 == 1">
	<div class="row">
		<div class="col-xs-12">
		  <div class="box box-primary">
		  	<div class="box-header with-border">
	          <h3 class="box-title">Material Received List</h3>
	        </div>
		    <div class="box-header">
	          <div class="box-title">
	            <div class="input-group input-group-sm" style="width: 100%">
	              <input type="text" class="form-control" id="searchtext" ng-model="searchtext" onkeyup="angular.element(this).scope().getSearch();" placeholder = "Search By- P.O Number..."/>
	              <div class="input-group-btn">
	                <button type="button" class="btn btn-info" onclick="window.location = '#/materialreceived/add'"><i class="fa fa-plus"></i> Add new record</button>
	              </div>
	            </div>
	          </div>
	        </div>
		    <!-- /.box-header -->
		    <div class="box-body table-responsive no-padding">
		      <table class="table table-hover">
		        <thead>
	                <tr>
						<!-- <th>Marterial Received No.</th> -->
	                    <th>PurchaseOrder No.</th>
	                    <th>Customer P.O No.</th>
						<th>Customer Name</th>
	                    <th>Material Received Date</th>
						<th>Total Cost</th>
						<th>Action</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr ng-repeat="views in filteredTodos">
	                    <!-- <td>{{views.mrm_id}}</td> -->
						<td>{{views.pom_no}}</td>
						<td>{{views.fqm_no}}</td>
						<td>{{views.cm_search}}</td>
						<td>{{views.mrm_mat_date | date}}</td>
						<td>{{views.mrm_amount | number : '0'}}</td>
						<td ng-if="views.mrm_status == 0">
							<i class="fa fa-info-circle" ng-click="viewMaterialReceivedDetails($index)"></i>
							<a href="#/materialreceived/edit/{{views.mrm_id}}"><i class="fa fa-pencil"></i></a>
							<i class="fa fa-trash" ng-click="deleteMaterialReceived(views.mrm_id)"></i>
						</td>
						<td ng-if="views.mrm_status == 1">
							<i class="fa fa-info-circle" ng-click="viewMaterialReceivedDetails($index)"></i>
						</td>
	                </tr>
	            </tbody>
		      </table>
		      <br>
		    </div>
		    <!-- /.box-body -->
		    <div class="box-footer">
	            <span id="pagination_detail" ng-show="filteredTodos.length > 0" class="pagination_ds">Showing {{ filterUserend }} to {{filterUser}} of {{materialreceivedListcount}} Material Received</span>
			    <span id="pagination_div" align="right" ng-show="filteredTodos.length > 0"
			          style="float: right;margin-top: -27px;">
			      <pagination
			              ng-model="currentPage"
			              total-items="materialreceivedList.length"
			              max-size="maxSize"
			              boundary-links="true" data-num-pages="noOfPages"
			              items-per-page="numPerPage">
			      </pagination>
		    	</span>		    	
		    </div>
		    
		  </div>
		  <!-- /.box -->
		</div>
	</div>
</section>

<!-- Delete -->
<div class="modal fade" id="confirm-delete">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirm Delete</h4>
      </div>
      <div class="modal-body">
        <p>You are about to delete <b><i class="title"></i></b> record, this procedure is irreversible.</p>
                <p>Do you want to proceed?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <button type="button" id="del" class="btn btn-danger" ng-click="deleteConfirm()">Delete</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="view-details">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
		<div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		    <span aria-hidden="true">&times;</span></button>
		    <h4 class="modal-title">Final Quotation Details</h4>
		</div>
		<div class="modal-body">
			<table class="table">
                <tr>
                    <td>Final Quotation No  : <b>{{podetails.mrm_id}}</b></td>
                    <td>P.O No. : <b>{{podetails.pom_no}}</b></td>
                    <td>P.O Date : <b>{{podetails.pom_date | date}}</b></td>
                    <td ng-if="podetails.pom_status == 0">Status : <b class="text-success">OPEN</b></td>
                    <td ng-if="podetails.pom_status == 1">Status : <b class="text-danger">CLOSED</b></td>
                </tr>
                <tr>
                    <td colspan="2">Supplier Name : <b>{{podetails.sm_search}}</b></td>
                    <td>Expected Date : <b>{{podetails.pom_expected_date | date}}</b></td>
                    <td>Total P.O Amount : <b>{{podetails.pom_amount | number:2 }}</b></td>
                </tr>
      </table>
      <div class="table-responsive">
        <table class="table fixedtable" id="content">
              <thead id="fixedtablethead">
                <tr>
                    <td colspan="7" style="text-align: center;"><b>BILL OF MATERIAL</b></td> 
                </tr>
                <tr style="background-color: #EEEEEE;">
                    <th>Sr.No</th>
                    <th>Material</th>
                    <th>Material Shape</th>
                    <th>RAW MAT WT (Kg)</th>
                    <th>Material Cost</th>
                    <th>Qty</th>
                    <th>Total Cost</th>
                </tr>
              </thead>
              <tbody id="fixedtabletbody">
                <tr ng-repeat="views in viewDetails track by $index">
                    <td align="center">{{$index + 1}}.</td>
                    <td>{{views.mtm_name}}</td>
                    <td>{{views.qpm_shape}}</td>
                    <td>{{views.qpm_raw_mat_wt}}</td>
                    <td>{{views.popm_cost | number:2 }}</td>
                    <td>{{views.popm_quantity}}</td>
                    <!-- <td>{{views.popm_quantity * views.popm_cost | number:2 }}</td> -->
                    <td>{{views.popm_cost * views.popm_quantity | number:2 }}</td>
                </tr>
              </tbody>
        </table>
      </div>
			
		</div>
      	<div class="modal-footer">
        	<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        	<button type="button" class="btn btn-primary" ng-click="printMR();" id="printdetail">Print</button>
        </div>
    </div>
  </div>
</div>
