<!-- /.row -->
<section class="content-header" ng-init="getAll();">
  <h1>
    Project Management
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Quotation List</li>
  </ol>
</section>
<div align="center" v-align="bottom" ng-hide="loading1 == 1" style="margin: auto; height:400px;">
    <img src="resources/reload.gif" style="margin-top: 170px; height: 60px;width: 60px;">
</div>
<section class="content" ng-show="loading1 == 1">
	<div class="row">
		<div class="col-xs-12">
		  <div class="box box-primary">
		  	<div class="box-header with-border">
	          <h3 class="box-title">Quotation List</h3>
	        </div>
		    <div class="box-header">
	          <div class="box-title">
	            <div class="input-group input-group-sm" style="width: 100%">
	              <input type="text" class="form-control" id="searchtext" ng-model="searchtext" onkeyup="angular.element(this).scope().getSearch();" placeholder = "Search By-  Quotation Number / Design Number / Customer's Name. . ."/>
	              <div class="input-group-btn">
	                <button type="button" class="btn btn-info" onclick="window.location = '#/quotation/add'"><i class="fa fa-plus"></i> Add new record</button>
	              </div>
	            </div>
	          </div>
	        </div>
		    <!-- /.box-header -->
		    <div class="box-body table-responsive no-padding">
		      <table class="table table-hover">
		        <thead>
	                <tr>
	                	<th>Quotation No.</th>
	                    <th>Design No</th>
						<th>Customer Name</th>
						<th>Date</th>
						<th>Reference</th>
						<th>Action</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr ng-repeat="quotation in filteredTodos | filter : quotation">
						<td>{{quotation.qm_quotation_no}}</td>
						<td>{{quotation.qm_design_no}}</td>
						<td>{{quotation.cm_name}}</td>
						<td>{{quotation.qm_date | date}}</td>
						<td>{{quotation.qm_ref_no}}</td>
						<td>
							<i class="fa fa-info-circle" data-toggle="modal" data-target="#view_icon" ng-click="viewQuotationDetails($index)"></i>
							<a href="#/quotation/edit/{{quotation.qm_id}}"><i class="fa fa-pencil"></i></a>
							<i class="fa fa-trash" data-toggle="modal" data-target="#confirm-delete" ng-click="deleteQuotation(quotation.qm_id)"></i>
						</td>
	                </tr>
	            </tbody>
		      </table>
		      <br>
	            <span id="pagination_detail" ng-show="filteredTodos.length > 0" class="pagination_ds">Showing {{ filterUserend }} to {{filterUser}} of {{quotationListcount.length}} Quotation's</span>
			    <span id="pagination_div" align="right" ng-show="filteredTodos.length > 0"
			          style="float: right;margin-top: -27px;">
			      <pagination
			              ng-model="currentPage"
			              total-items="quotationListcount.length"
			              max-size="maxSize"
			              boundary-links="true" data-num-pages="noOfPages"
			              items-per-page="numPerPage">
			      </pagination>
		    	</span>
		    </div>
		    <!-- /.box-body -->
		  </div>
		  <!-- /.box -->
		</div>
	</div>
</section>

<div class="modal fade" id="view_icon">
  <div class="modal-dialog">
    <div class="modal-content">
		<div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		    <span aria-hidden="true">&times;</span></button>
		    <h4 class="modal-title">Quotation Details</h4>
		</div>
		<div class="modal-body">
			<table class="table table-hover table-responsive">
              <thead>
                <tr>
                    <th>Part No</th>
                    <th>Part Name</th>
                    <th>Qty</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="views in viewDetails track by $index">
                    <td>{{views.qpm_part_np}}</td>
                    <td>{{views.qpm_part_name}}</td>
                    <td>{{views.qpm_qty}}</td>
                </tr>
              </tbody>
            </table>
            <table class="table table-hover table-responsive">
              <thead>
                <tr>
                    <th>Machine</th>
                    <th>Hour</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="views in viewMachineDetails track by $index">
                    <td>{{views.qpmm_mm_search}}</td>
                    <td>{{views.qpmm_mm_hr}}</td>
                </tr>
              </tbody>
            </table>
		</div>
      	<div class="modal-footer">
        	<button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
        </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->