<style>
  
 .printshow{display:none;}
 
</style>
<section class="content-header">
  <h1>
    Project Management
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Quotation</li>
  </ol>
</section>

<section class="content">
  <div class="row">
      <div class="col-xs-12">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Add Quotation Against Design</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
              <div class="row">
                  <!-- <div class="col-lg-3">
                     <div class="form-group">
                        <label>Design No.</label>
                        <input type="text"
                                id="qm_dm_id"
                                ng-model="quotation.qm_dm_id"
                                typeahead="obj as obj.dm_design_no for obj in getSearchDesign($viewValue)"
                                typeahead-loading="loadingDesignList"
                                typeahead-no-results="noDesignListResults"
                                typeahead-on-select="getDesignDetails()"
                                class="form-control">
                          <i ng-show="loadingDesignList" class="glyphicon glyphicon-refresh"></i>
                          <div ng-show="noDesignListResults">
                              <i class="glyphicon glyphicon-remove"></i> No Results Found
                          </div>
                        </div>
                    </div> -->
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Quotation No.</label>
                            <input type="text" id="qm_quotation_no" class="form-control" ng-model="quotation.qm_quotation_no" readonly="" />
                        </div>
                    </div>
                    <!-- <div class="col-lg-3">
                        <div class="form-group">
                            <label>Customer Name</label>
                            <input type="text"
                                ng-model="quotation.qm_dm_id.cm_search"
                                class="form-control">
                        </div>
                    </div> -->
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Date</label>
                            <input type="text" id="qm_date" class="form-control" ng-model="quotation.qm_date" readonly/>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Project Number</label>
                            <input type="text" id="qm_project" class="form-control" ng-model="quotation.qm_project" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Customer Name</label>
                            <input type="text"
                                id="qm_cm_id"
                                ng-model="quotation.qm_cm_id"
                                typeahead="obj as obj.cm_search for obj in getSearchCust($viewValue)"
                                typeahead-loading="loadingCustList"
                                typeahead-no-results="noCustListResults"
                                class="form-control">
                            <i ng-show="loadingCustList" class="glyphicon glyphicon-refresh"></i>
                            <div ng-show="noCustListResults">
                                <i class="glyphicon glyphicon-remove"></i> No Results Found
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Kindly Attend</label>
                            <input type="text" id="qm_kindly_attend" class="form-control" ng-model="quotation.qm_kindly_attend" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Reference</label>
                            <input type="text" id="qm_ref" class="form-control" ng-model="quotation.qm_ref" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Comment</label>
                            <textarea class="form-control" rows="2" id="qm_comment" ng-model="quotation.qm_comment"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-1" style="margin-top:25px;">
                        <div class="form-group">
                            <button  class="btn btn-info" type="button" ng-click="addCustomerModal();"><i class="fa fa-plus-square" aria-hidden="true"></i> Customer</button>
                        </div>
                    </div>
                    <div class="col-lg-1" style="margin-top:25px; margin-left:50px;">
                        <div class="form-group">
                            <button  class="btn btn-primary" type="button" ng-click="addInventoryModal();"><i class="fa fa-plus-square" aria-hidden="true"></i> Drawing</button>
                        </div>
                    </div>
              </div><br>

              <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form ng-submit="addNew()">
                                <table class="table table-striped" id="content">
                                    <thead>
                                        <tr>
                                            <td colspan="11" style="text-align: center; text-transform:uppercase;"><b>Add Item And Machine</b></td> 
                                        </tr>
                                        <tr>
                                            <th>Item Name</th>
                                            <th>Material</th>
                                            <th>Material Cost</th>

                                            <th>L (mm)</th>
                                            <th>W (mm)</th>
                                            <th>T (mm)</th>

                                            <th>RAW MAT WT (Kg)</th>
                                            <th>RM </th>

                                            <th>Machine Details</th>
                                            <th>Sub Total</th>
                                            <th>QTY</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                             <td rowspan="2">
                                                <input type="text"
                                                    id="im_id"
                                                    ng-model="material.im_id"
                                                    typeahead="obj as obj.im_search for obj in getSearchInventory($viewValue)"
                                                    typeahead-loading="loadingInventoryList"
                                                    typeahead-no-results="noInventoryListResults"
                                                    class="form-control">
                                                <i ng-show="loadingInventoryList" class="glyphicon glyphicon-refresh"></i>
                                                <div ng-show="noInventoryListResults">
                                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                </div>
                                            </td>
                                            <td>
                                                <input type="text"
                                                    id="mtm_id"
                                                    ng-model="material.mtm_id"
                                                    typeahead="obj as obj.mtm_search for obj in getSearchMaterial($viewValue)"
                                                    typeahead-loading="loadingMaterialList"
                                                    typeahead-no-results="noMaterialListResults"
                                                    typeahead-on-select="getMaterialDetails(material.mtm_id)"
                                                    class="form-control">
                                                <i ng-show="loadingMaterialList" class="glyphicon glyphicon-refresh"></i>
                                                <div ng-show="noMaterialListResults">
                                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                </div>
                                            </td>
                                            <td>
                                                <input type="number" id="qpm_material_cost" class="form-control" ng-model="material.qpm_material_cost" ng-change="calculateRM()"/>
                                            </td>

                                            <td>
                                                <input type="number" id="qpm_length" class="form-control" ng-model="material.qpm_length"  ng-change="calculateRM()"/>
                                            </td>
                                            <td>
                                                <input type="number" id="qpm_width" class="form-control" ng-model="material.qpm_width"  ng-change="calculateRM()"/>
                                            </td>
                                            <td>
                                                <input type="number" id="qpm_thickness" class="form-control" ng-model="material.qpm_thickness" ng-change="calculateRM()" />
                                            </td>
                                            <td>
                                                <label  class="form-control">{{material.qpm_rw }}</label>
                                            </td>
                                            <td>
                                                <label class="form-control">{{material.qpm_price }}</label>
                                            </td>
                                            <td class="print-hide" width="50%">
                                                  <table class="table">
                                                        <tr>
                                                            <td>
                                                              <input type="text"
                                                                      id="mm_id"
                                                                      ng-model="machineItem"
                                                                      typeahead="obj as obj.mm_search for obj in getSearchMachine($viewValue)"
                                                                      typeahead-loading="loadingMachineList"
                                                                      typeahead-no-results="noMachineListResults"
                                                                      class="form-control"
                                                                      placeholder="Machine Name">
                                                                  <i ng-show="loadingMachineList" class="glyphicon glyphicon-refresh"></i>
                                                                  <div ng-show="noMachineListResults">
                                                                      <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                                  </div>
                                                            </td>
                                                            <td>
                                                              <input type="number" id="mm_qty" class="form-control" ng-model="machineItem.mm_qty" placeholder="Quantity" />
                                                            </td>
                                                            <td><label class="form-control">{{machineItem.mm_price * machineItem.mm_qty}}</label></td>
                                                            <td>
                                                              <button  class="btn btn-success" type="button" id="btnAddCart" ng-click="addItemofMachine($index);"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                                                            </td>
                                                        </tr>
                                                  </table><br>
                                                  <table class="table">
                                                        <tr>       
                                                            <th>Machine</th>
                                                            <th>QTY</th>
                                                            <th>Total</th>
                                                            <th class="action">Action</th>
                                                        </tr>
                                                        <tr ng-repeat="machineDetail in machineItemList">
                                                            <td>
                                                              <label class="form-control">
                                                                {{machineDetail.mm_search}}
                                                              </label>
                                                            </td>
                                                            <td>
                                                              <label class="form-control">
                                                                {{machineDetail.mm_qty}}
                                                              </label>
                                                            </td>
                                                            <td>
                                                              <label class="form-control">
                                                                {{machineDetail.mm_price * machineDetail.mm_qty}}
                                                              </label>
                                                            </td>
                                                            <td class="action">
                                                              <button  class="btn btn-danger" type="button" id="btnAddItemLine" ng-click="removeItem($parent.$index,$index)"><i class="fa fa-minus-square" aria-hidden="true"></i></button>
                                                            </td>
                                                        </tr>
                                                  </table>
                                            </td>
                                            <td>{{material.subtotal}}</td>
                                            <td>
                                                <input type="text" class="form-control" ng-model="material.qpm_qty" />
                                            </td>
                                            <td>{{material.subtotal * material.qpm_qty}}</td>

                                        </tr>
                                    </tbody>
                                </table>

                                <!-- <div class="form-group">
                                    <input type="submit" class="btn btn-primary addnew pull-right" value="Add New">
                                </div> -->
                            </form>
                        </div>
                    </div>
                </div>
              </div>



            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form ng-submit="addNew()">
                                <table class="table table-striped" id="content">
                                    <thead>
                                        <tr>
                                            <td colspan="7" style="text-align: center;"><b>BILL OF MATERIAL</b></td> 
                                        </tr>
                                        <tr>
                                            <th>Sr. No</th>
                                            <th>Part No</th>
                                            <th>Part Name</th>
                                            <th>Qty</th>
                                            <th>Price</th>
                                            <th>Machine Cost</th>
                                            <th>Total Cost</th>
                                            <th class="print-hide" width="50%">Machine Used</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="personalDetail in personalDetails track by $index">
                                            <td>{{$index+1}}</td>
                                            <td>{{personalDetail.im_part_no}}</td>
                                            <td>{{personalDetail.im_part_name}}</td>
                                            <td>{{personalDetail.dtm_qty}}</td>
                                            <td>{{personalDetail.qpm_price}}</td>
                                            <td>{{((personalDetail.dtm_total_cost/personalDetail.dtm_qty) - personalDetail.qpm_price)}}</td>
                                            <td>{{personalDetail.dtm_total_cost}}</td>
                                            <td class="print-hide" width="50%">
                                              <table class="table">
                                                <tr>
                                                  <td>
                                                    <input type="text" 
                                                    ng-model="personalDetail.qpmm_mm_id"
                                                    typeahead="obj as obj.mm_search for obj in getSearchMachine($viewValue)"
                                                    typeahead-loading="loadingMachineList"
                                                    typeahead-no-results="noMachineListResults"
                                                    class="form-control" 
                                                    placeholder="Machine"/>
                                                    <i ng-show="loadingMachineList" class="glyphicon glyphicon-refresh"></i>
                                                    <div ng-show="noMachineListResults">
                                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                    </div>
                                                  </td>
                                                  <td>
                                                    <input type="number" class="form-control" ng-model="personalDetail.qpmm_mm_hr" placeholder="quantity">
                                                  </td>
                                                  <td>
                                                    <label class="form-control">{{personalDetail.qpmm_mm_id.mm_price * personalDetail.qpmm_mm_hr}}</label>
                                                  </td>
                                                  <td>
                                                    <button  class="btn btn-success" type="button" id="btnAddCart" ng-click="addToCart($index);"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add</button>
                                                  </td>
                                                </tr>
                                              </table><br>
                                              <table class="table">
                                                <tr>       
                                                  <th>Machine</th>
                                                  <th>QTY</th>
                                                  <th>Total</th>
                                                  <th class="action">Action</th>
                                                </tr>
                                                <tr ng-repeat="machineDetail in personalDetail.machineDetails">
                                                  <td>
                                                    <label class="form-control">
                                                      {{machineDetail.qpmm_mm_id.mm_search}}
                                                    </label>
                                                  </td>
                                                  <td>
                                                    <label class="form-control">
                                                      {{machineDetail.qpmm_mm_hr}}
                                                    </label>
                                                  </td>
                                                  <td>
                                                    <label class="form-control">
                                                      {{machineDetail.qpmm_mm_id.mm_price * machineDetail.qpmm_mm_hr}}
                                                    </label>
                                                  </td>
                                                  <td class="action">
                                                    <button  class="btn btn-danger" type="button" id="btnAddItemLine" ng-click="removeItem($parent.$index,$index)"><i class="fa fa-minus-square" aria-hidden="true"></i></button>
                                                  </td>
                                                </tr>
                                              </table>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>

                                <!-- <div class="form-group">
                                    <input type="submit" class="btn btn-primary addnew pull-right" value="Add New">
                                </div> -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-3">
                  <div class="form-group">
                      <label>Net Amount</label>
                      <label class="form-control">{{quotation.qm_net_cost}}</label>
                  </div>
                </div>
              <div class="col-lg-3">
                  <div class="form-group">
                      <label>CST {{quotation.qm_cgst_per}}%</label>
                      <label class="form-control">{{quotation.qm_cgst_amount}}</label>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="form-group">
                      <label>SGT {{quotation.qm_sgst_per}}%</label>
                      <label class="form-control">{{quotation.qm_sgst_amount}}</label>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="form-group">
                      <label>IGST {{quotation.qm_igst_per}}%</label>
                      <label class="form-control">{{quotation.qm_igst_amount}}</label>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="form-group">
                      <label>Transport</label>
                      <input type="number" id="qm_transport" class="form-control" ng-keyup="calculateTotal()" ng-model="quotation.qm_transport"/>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="form-group">
                      <label>Other Charges</label>
                      <input type="number" id="qm_other_charges" class="form-control" ng-keyup="calculateTotal()" ng-model="quotation.qm_other_charges"/>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="form-group">
                      <label>Discount</label>
                      <input type="number" id="qm_discount" class="form-control" ng-keyup="calculateTotal()" ng-model="quotation.qm_discount"/>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="form-group">
                      <label>Total Quotation Amount</label>
                      <label class="form-control">{{quotation.qm_total_cost}}</label>
                  </div>
              </div>
              
            </div>

            


            <!-- <div class="row">
                  <div class="col-md-12">
                      <div class="panel panel-default">
                          <div class="panel-body">
                              <form ng-submit="addmachine()">
                                  <table class="table table-striped table-bordered">
                                      <thead>
                                        <tr>
                                            <td colspan="7" style="text-align: center;"><b>MACHINE DETAILS</b></td> 
                                        </tr>
                                          <tr>
                                            <th>Machine</th>
                                            <th>Hour</th>
                                            <th>Total</th>
                                            <th>Action</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr ng-repeat="machineDetail in machineDetails track by $index">
                                            
                                            <td>
                                                <input type="text"
                                                    id="qpmm_mm_id"
                                                    ng-model="machineDetail.qpmm_mm_id"
                                                    typeahead="obj as obj.mm_search for obj in getSearchMachine($viewValue)"
                                                    typeahead-loading="loadingMachineList"
                                                    typeahead-no-results="noMachineListResults"
                                                    class="form-control" />
                                                    <i ng-show="loadingMachineList" class="glyphicon glyphicon-refresh"></i>
                                                    <div ng-show="noMachineListResults">
                                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                    </div>
                                            </td>
                                            <td>
                                                <input type="text"  class="form-control" ng-model="machineDetail.qpmm_mm_hr" ng-keyup="calculate()">
                                            </td>
                                            <td><input type="text" class="form-control" ng-model="machineDetail.qpmm_total"/></td>
                                            <td><input ng-hide="!machineDetails.length" type="button" class="btn btn-danger" ng-click="removeMachine($index)" value="Remove"></td>
                                          </tr>
                                      </tbody>
                                  </table>

                                    <div class="form-group">
                                      
                                      <input type="submit" class="btn btn-primary addnew pull-right" value="Add New">
                                    </div><br><br><br>

                                    <div class="col-md-6 pull-right" ng-hide="!machineDetails.length">
                                        <div class="col-md-3 pull-right">
                                            <input  class="form-control" style="width: 100px;margin-left: 5px;" ng-model="quotation.qm_total_cost" >
                                        </div>
                                        <div class="col-md-3 pull-right" style="margin-top: 8px;margin-right: -45px;"><b>TOTAL :</b></div>
                                    </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div> -->
               <!-- Row end  -->


          </div>
          <!-- / box-body -->
          <div class="box-footer">
            <button type="button" class="btn btn-danger" onclick="window.location = '#/quotation'" id="btncancel">Back</button>
            <button type="submit" class="btn btn-success" id="btnsave" ng-click="addQuotation()">Save</button>
          </div>
      </div>
      <!-- / box -->
      </div>
    </div>
</section>


<!-- Add Customer -->
<div class="modal fade" id="add-customer-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Customer</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Customer Name</label>
                    <input type="text" id="cm_name" class="form-control" ng-model="customer.cm_name" required/>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>GST No.</label>
                    <input type="text" id="cm_gst" class="form-control" ng-model="customer.cm_gst" />
                </div>
            </div>
            
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Address</label>
                    <textarea id="cm_address" class="form-control" ng-model="customer.cm_address" rows="1"></textarea>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Customer's Contact Number</label>
                    <input type="tel" id="cm_mobile" class="form-control" ng-model="customer.cm_mobile" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Email Id</label>
                    <input type="text" id="cm_email" class="form-control" ng-model="customer.cm_email" />
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <label>Opening Debit</label>
                    <input type="text" id="cm_debit" class="form-control" ng-model="customer.cm_debit" />
                </div>
            </div>
                
             <div class="col-lg-4">
                <div class="form-group">
                    <label>Opening Credit</label>
                    <input type="text" id="cm_credit" class="form-control" ng-model="customer.cm_credit" />
                </div>
            </div> 

            <div class="col-lg-4">
                <div class="form-group">
                    <label>Contact Person Name</label>
                    <input type="text" id="cm_contact_person_name" class="form-control" ng-model="customer.cm_contact_person_name" />
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <label>Department Name</label>
                    <input type="text" id="cm_dept_name" class="form-control" ng-model="customer.cm_dept_name" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Contact Person Number</label>
                    <input type="text" id="cm_contact_person_number" class="form-control" ng-model="customer.cm_contact_person_number" />
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="addCustomer" class="btn btn-success" ng-click="addCustomer()">Add Customer</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Add Inventory -->
<div class="modal fade" id="add-inventory-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Inventory</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Part Number</label>
                    <input type="text" id="im_part_no" class="form-control" ng-model="inventory.im_part_no" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Part Name</label>
                    <input type="text" id="im_part_name" class="form-control" ng-model="inventory.im_part_name" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Opening Quantity</label>
                    <input type="number" id="im_opening_quantity" class="form-control" ng-model="inventory.im_opening_quantity" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Price</label>
                    <input type="number" id="im_price" class="form-control" ng-model="inventory.im_price" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>MRP</label>
                    <input type="number" id="im_mrp" class="form-control" ng-model="inventory.im_mrp" />
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="addInventory" class="btn btn-success" ng-click="addInventory()">Add Drawing</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->