<section class="content-header">
  <h1>
    Project Management
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Quotation</li>
  </ol>
</section>

<section class="content">
  <div class="row">
        <div class="col-xs-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Add Quotation Against Design</h3>
        </div>
        <!-- /.box-header -->
          <div class="box-body">
            <div class="col-lg-3">
                <div class="form-group">
                    <label>Design No.</label>
                    <input type="text"
                        id="qm_design_no"
                        ng-model="quotation.qm_design_no"
                        typeahead="obj as obj.dm_design_no for obj in getSearchDesign($viewValue)"
                        typeahead-loading="loadingDesignList"
                        typeahead-no-results="noDesignListResults"
                        class="form-control">
                    <i ng-show="loadingDesignList" class="glyphicon glyphicon-refresh"></i>
                    <div ng-show="noDesignListResults">
                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label>Quotation No.</label>
                    <input type="text" id="qm_quotation_no" class="form-control" ng-model="quotation.qm_quotation_no" />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label>Customer Name</label>
                    <input type="text"
                        id="qm_cm_id"
                        ng-model="quotation.qm_cm_id"
                        typeahead="obj as obj.cm_name for obj in getSearchCust($viewValue)"
                        typeahead-loading="loadingCustList"
                        typeahead-no-results="noCustListResults"
                        class="form-control">
                    <i ng-show="loadingCustList" class="glyphicon glyphicon-refresh"></i>
                    <div ng-show="noCustListResults">
                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label>Date</label>
                    <input type="text" id="qm_date" class="form-control" ng-model="quotation.qm_date" />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label>Reference Number</label>
                    <input type="text" id="qm_ref_no" class="form-control" ng-model="quotation.qm_ref_no" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form ng-submit="addNew()">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <td colspan="7" style="text-align: center;"><b>BILL OF MATERIAL</b></td> 
                                        </tr>
                                        <tr>
                                            <th>Select</th>
                                            <th>Sr No</th>
                                            <th>Part No</th>
                                            <th>Part Name</th>
                                            <th>Qty</th>
                                            <th>Machine And Price</th>
                                            <th>Hour</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="personalDetail in personalDetails">
                                            <td>
                                                <input type="checkbox" ng-model="personalDetail.selected" /></td>
                                            <td>
                                                {{$index+1}}</td>
                                            <td>
                                                <input type="text" class="form-control" ng-model="personalDetail.qtm_part_no" required/></td>
                                            <td>
                                                <input type="text" class="form-control" ng-model="personalDetail.qtm_part_name" required/></td>
                                            <td>
                                                <input type="number" class="form-control" ng-model="personalDetail.qtm_qty" required/></td>
                                            <td>
                                                <input type="text"
                                                    id="qtm_mm_id"
                                                    ng-model="personalDetail.qtm_mm_id"
                                                    typeahead="obj as obj.mm_search for obj in getSearchMachine($viewValue)"
                                                    typeahead-loading="loadingDesignList"
                                                    typeahead-no-results="noDesignListResults"
                                                    class="form-control" required/>
                                            </td>
                                            <td>
                                                <input type="number" class="form-control" ng-model="personalDetail.qtm_mm_hr" required/>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td ng-hide="!personalDetails.length" style="text-align: right;"><b>TOTAL</b></td>
                                            <td ng-hide="!personalDetails.length"><label class="form-control">{{qtm_total_cost}}</label></td>
                                        </tr>
                                    </tfoot>
                                </table>

                                <div class="form-group">
                                    <input ng-hide="!personalDetails.length" type="button" class="btn btn-danger pull-right" ng-click="remove()" value="Remove">
                                    <input type="submit" class="btn btn-primary addnew pull-right" value="Add New">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="button" class="btn btn-danger" onclick="window.location = '#/quotation'" id="btncancel">Back</button>
            <button type="submit" class="btn btn-success" id="btnsave" ng-click="addQuotation()">Save</button>
          </div>
      </div>
      <!-- /.box -->
      </div>
    </div>
</section>