<section class="content-header">
  <h1>
    Project Management
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Bill</li>
  </ol>
</section>

<section class="content">
  <div class="row">
        <div class="col-xs-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Add New Bill Against Quotation</h3>
        </div>
        <!-- /.box-header -->
          <div class="box-body">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Quotation No.</label>
                    <input type="text"
                        id="bm_qm_id"
                        ng-model="bill.bm_qm_id"
                        typeahead="obj as obj.qm_quotation_no for obj in getSearchQuotation($viewValue)"
                        typeahead-loading="loadingQuotationList"
                        typeahead-no-results="noQuotationListResults"
                        typeahead-on-select="getQuotationDetails()"
                        class="form-control" style="width: 380px;">
                    <i ng-show="loadingQuotationList" class="glyphicon glyphicon-refresh"></i>
                    <div ng-show="noQuotationListResults">
                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Invoice No.</label>
                    <input type="text" id="bm_invoice_no" class="form-control" ng-model="bill.bm_invoice_no" readonly />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Customer Name</label>
                    <input type="text"
                        ng-model="bill.bm_qm_id.cm_search"
                        class="form-control" readonly>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Date</label>
                    <input type="text" id="bm_date" class="form-control" ng-model="bill.bm_date" readonly />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table class="table table-hover table-responsive" id="content">
                              <thead>
                                <tr>
                                    <td colspan="5" style="text-align: center;"><b>BILL OF MATERIAL</b></td> 
                                </tr>
                                <tr>
                                    <th>Sr No</th>
                                    <th>Part No</th>
                                    <th>Part Name</th>
                                    <th>Qty</th>
                                    <th>Total Cost</th>
                                    <th class="print-hide" width="50%">Machine Used</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="views in viewDetails track by $index">
                                    <td>{{$index + 1}}</td>
                                    <td>{{views.qpm_part_no}}</td>
                                    <td>{{views.qpm_part_name}}</td>
                                    <td>{{views.qpm_qty}}</td>
                                    <td>{{views.qpm_total_cost}}</td>
                                    <td class="print-hide" width="50%">
                                      <table class="table">
                                        <tr>       
                                          <th>Machine</th>
                                          <th>QTY</th>
                                          <th>Total</th>
                                        </tr>
                                        <tr ng-repeat="machineDetail in views.machineDetails track by $index">
                                          <td>{{machineDetail.mm_search}}</td>
                                          <td>{{machineDetail.qpmm_mm_hr}}</td>
                                          <td>{{machineDetail.qpmm_total_cost}}</td>
                                        </tr>
                                      </table>
                                    </td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="button" class="btn btn-danger" onclick="window.location = '#/bill'" id="btncancel">Back</button>
            <button type="submit" class="btn btn-success" id="btnsave" ng-click="addBill()">Save</button>
          </div>
      </div>
      <!-- /.box -->
      </div>
    </div>
</section>