<section class="content-header">
  <h1>
    Employee Management
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Add Employee</li>
  </ol>
</section>

<section class="content">
  <div class="row">
        <div class="col-xs-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Add New Employee Details</h3>
        </div>
        <!-- /.box-header -->
          <div class="box-body">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Employee Name</label>
                    <input type="text" id="em_name" class="form-control" ng-model="employee.em_name" />
                </div>
            </div>
            
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Mobile Number</label>
                    <input type="text" id="em_mobile" class="form-control" ng-model="employee.em_mobile" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Role</label>
                    <input type="text" id="em_role" class="form-control" ng-model="employee.em_role" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Address</label>
                    <textarea id="em_address" class="form-control" ng-model="employee.em_address" rows="1"></textarea>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Bank</label>
                    <input type="text" id="em_bank" class="form-control" ng-model="employee.em_bank" />
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Aadhar Person</label>
                    <input type="text" id="em_aadharPerson" class="form-control" ng-model="employee.em_aadharPerson" />
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Pan Card</label>
                    <input type="text" id="em_panCard" class="form-control" ng-model="employee.em_panCard" />
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Designation</label>
                    <input type="text" id="em_designation" class="form-control" ng-model="employee.em_designation" />
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Qualification</label>
                    <input type="text" id="em_qualification" class="form-control" ng-model="employee.em_qualification" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="name">Photo</label><br>
                    <img src="{{displayImages}}" onclick="document.getElementById('img-path').click(); return false; " id="app-file-btn" title="Click to add Photo" height="100" width="100">
                    <input  type="file" 3d="img-path" name="file" id="profilePhotoFileUpload em_photo" placeholder="" ng-file-select="onFileSelect($files)" accept="" ng-model="employee.em_photo" />
                </div>
            </div>

          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="button" class="btn btn-danger" onclick="window.location = '#/employee'" id="btncancel">Back</button>
            <button type="submit" class="btn btn-success" id="btnsave" ng-click="addEmployee()">SAVE</button>
          </div>
      </div>
      <!-- /.box -->
      </div>
    </div>
</section>