<style>
.printshow{display:none;}

#content {
  position: relative;
  width: 700px;
  overflow: hidden;
  border-collapse: collapse;
}
/*thead*/
#fixedtablethead {
  position: relative;
  display: block; 
  width: 700px;
  overflow: visible;
}
#fixedtablethead th {
  border: 1px solid black;
  /*border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;*/
  text-align: center;
}
#fixedtablethead th:nth-child(1) {
  position: relative;
  display: block; 
  background-color: #c6c6d3;
  /*color: white;*/
}
/*tbody*/
#fixedtabletbody {
  position: relative;
  display: block;
  width: 1050px;
  height: 350px;
  overflow: scroll;
}
#fixedtabletbody td {
}
#fixedtabletbody > tr > td:nth-child(1) { 
  position: relative;
  display: block; 
  height: 170px;
  background-color: #c6c6d3;
  /*color: white;*/
  margin-top: 7px;
}
.content tfoot tr{
  display:block;
  border: 1px solid black;
}

</style>


<section class="content-header" ng-init="getQuotation();">
  <h1>
    Project Management
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Quotation</li>
  </ol>
</section>
<section class="content">
  <div class="row">
        <div class="col-xs-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Edit Quotation</h3>
        </div>
        <!-- /.box-header -->
          <div class="box-body">
            <div class="col-lg-3">
                <div class="form-group">
                    <label>Date</label>
                    <input type="text" id="qm_date" class="form-control" ng-model="quotation.qm_date" readonly/>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Quotation No.</label>
                    <input type="text" id="qm_quotation_no" class="form-control" ng-model="quotation.qm_quotation_no" readonly="" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Customer Name</label>
                    <input type="text"
                        ng-model="quotation.cm_search"
                        class="form-control" readonly/>
                </div>
            </div>
            <!-- <div class="col-lg-3">
                <div class="form-group">
                    <label>Project No.</label>
                    <input type="text"
                        ng-model="quotation.qm_dm_id.dm_project_no"
                        class="form-control" readonly>
                </div>
            </div> -->
            <div class="col-lg-3">
                <div class="form-group">
                    <label>Date-Of-Email</label>
                    <input type="text" id="qm_date_of_email" class="form-control" ng-model="quotation.qm_date_of_email" readonly/>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Reference</label>
                    <input type="text" id="qm_ref" class="form-control" ng-model="quotation.qm_ref" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Attend By</label>
                    <input type="text" id="qm_attend_by" class="form-control" ng-model="quotation.qm_attend_by" />
                </div>
            </div> 

            <div class="row">
              <div class="col-md-12">
                  <div class="panel panel-default">
                      <div class="panel-body">

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>Project No.</label>
                                <input type="text" id="qpm_pr_no" class="form-control" ng-model="material.qpm_pr_no" />
                            </div>
                        </div> 
                        <!-- <div class="col-lg-2">
                            <div class="form-group">
                                <label>Item</label>
                                <input type="text" id="qpm_item" class="form-control" ng-model="material.qpm_item" />
                            </div>
                        </div>  -->
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Material Code</label>
                                <input type="text" id="qpm_material_code" class="form-control" ng-model="material.qpm_material_code" />
                            </div>
                        </div>  
                        <!-- <div class="col-lg-3">
                            <div class="form-group">
                                <label>Part No / Part Name</label>
                                <input type="text" id="qpm_part" class="form-control" ng-model="material.qpm_part" />
                            </div>
                        </div> -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Part No / Part Name</label>
                                <input type="text"
                                id="qpm_part"
                                ng-model="material.qpm_part_name"
                                typeahead="obj as obj.quat for obj in getSearchProd($viewValue)"
                                typeahead-loading="loadingProdList"
                                typeahead-no-results="noProdListResults"
                                class="form-control">
                            <i ng-show="loadingProdList" class="glyphicon glyphicon-refresh"></i>
                            <div ng-show="noProdListResults">
                                <i class="glyphicon glyphicon-remove"></i> No Results Found
                            </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>Qty</label>
                                <input type="number" id="qpm_qty" class="form-control" ng-model="material.qpm_qty" />
                            </div>
                        </div>
                        <!-- <div class="col-lg-2">
                            <div class="form-group">
                                <label>Cost Per Pcs</label>
                                <input type="number" id="dtm_cost" class="form-control" ng-model="material.dtm_cost" />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>Total Cost</label>
                                <label class="form-control">{{material.dtm_qty * material.dtm_cost}}</label>
                            </div>
                        </div> -->
                        <div class="col-lg-1" style="margin-top:25px;">
                            <div class="form-group">
                              <button  class="btn btn-success" type="button" id="btnAddMaterial" ng-click="btnAddMaterial();"><i class="fa fa-plus-square" aria-hidden="true"></i> Add</button>
                            </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
            <!-- Row end  -->

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body table-responsive">
                                <table class="table fixedtable" id="content">
                                    <thead id="fixedtablethead">
                                        <!-- <tr>
                                            <td colspan="15" style="text-align: center;"><b>BILL OF MATERIAL</b></td> 
                                        </tr> -->
                                        <tr style="background-color: #EEEEEE;">
                                            <th style="min-width:100px;max-width:100px; height: 70px;"><b>Sr No.</b></th>
                                            <th style="min-width:100px;max-width:100px;border-left: none;">Project No.</th>
                                            <!-- <th>Item</th> -->
                                            <th style="min-width:100px;max-width:100px;">Material Code</th>
                                            <th style="min-width:100px;max-width:100px;">Part No. / Part Name</th>

                                            <th style="min-width:250px;max-width:250px;">Material</th>
                                            <th style="min-width:185px;max-width:185px;">Material Shape</th>
                                            <th style="min-width:100px;max-width:100px;">Material Cost</th>
                                            <th style="min-width:100px;max-width:100px;">L (mm)</th>
                                            <th style="min-width:100px;max-width:100px;">W (mm)</th>
                                            <th style="min-width:100px;max-width:100px;">T (mm)</th>
                                            <th style="min-width:100px;max-width:100px;">D (mm)</th>
                                            <th style="min-width:100px;max-width:100px;">Edge L (mm)</th>

                                            <th style="min-width:100px;max-width:100px;">RAW MAT WT (Kg)</th>
                                            <th style="min-width:100px;max-width:100px;">RM</th>

                                            <th style="min-width:330px;max-width:330px;">FL CUT</th>
                                            <th style="min-width:330px;max-width:330px;">TURNING</th>
                                            <th style="min-width:330px;max-width:330px;">MILLING</th>

                                            <th style="min-width:450px;max-width:450px;">BORING</th>
                                            <th style="min-width:450px;max-width:450px;">DRILLING</th>
                                            <th style="min-width:450px;max-width:450px;">TAPING</th>

                                            <th style="min-width:330px;max-width:330px;">GRINDING</th>
                                            <th style="min-width:330px;max-width:330px;">CNC M/C</th>
                                            <th style="min-width:330px;max-width:330px;">WIRU CUT</th>
                                            <th style="min-width:330px;max-width:330px;">FABRICATION COST</th>
                                            <th style="min-width:330px;max-width:330px;">HARD</th>
                                            <th style="min-width:330px;max-width:330px;">BLACODISING</th>
                                            <th style="min-width:330px;max-width:330px;">PUNCHING</th>
                                            <th style="min-width:330px;max-width:330px;">SURF TREAT (SB)</th>

                                            <th style="min-width:100px;max-width:100px;">SUB TOTAL</th>
                                            <th style="min-width:100px;max-width:100px;">PROFIT</th>
                                            <th style="min-width:100px;max-width:100px;">COST/PC</th>
                                            <th style="min-width:100px;max-width:100px;">Qty</th>
                                            <th style="min-width:100px;max-width:100px;">Total Cost</th>

                                            <th style="min-width:200px;max-width:200px;">Drawings</th>
                                            <th style="min-width:130px;max-width:130px;">Action</th>
                  
                                        </tr>
                                    </thead>
                                    <tbody id="fixedtabletbody">
                                        <tr ng-repeat="views in materialDetails track by $index" class="warning1">
                                            <td style="min-width:100px;max-width:100px;font-size: 15px; text-align: center;"><b>{{views.qpm_sr_no}}</b></td>
                                            <td contenteditable="true" style="min-width:100px;max-width:100px;">{{views.qpm_pr_no}}</td>
                                            <!-- <td contenteditable="true">{{views.qpm_item}}</td> -->
                                            <td contenteditable="true" style="min-width:100px;max-width:100px;">{{views.qpm_material_code}}</td>
                                            <td contenteditable="true" style="min-width:100px;max-width:100px;">{{views.qpm_part}}</td>

                               
                                         <td style="min-width:250px;max-width:250px;">
                                              <input type="text"
                                                    ng-model="views.mtm_id"
                                                    typeahead="obj as obj.mtm_search for obj in getSearchMaterial($viewValue)"
                                                    typeahead-loading="loadingMaterialList"
                                                    typeahead-no-results="noMaterialListResults"
                                                    typeahead-on-select="getMaterialDetails(views.mtm_id,$index)"
                                                    class="form-control"
                                                    ng-change="calculate(views)" required>
                                                <i ng-show="loadingMaterialList" class="glyphicon glyphicon-refresh"></i>
                                                <div ng-show="noMaterialListResults">
                                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                </div>
                                            </td>

                                            <td style="min-width:185px;max-width:185px;">
                                                <select class="form-control" id="qpm_shape" ng-model="views.qpm_shape" ng-change="disableField($index)">
                                                    <option value="" disabled selected>Shapes</option>
                                                    <option>Rectangle</option>
                                                    <option>Sheet</option>
                                                    <option>Round</option>
                                                    <option>Square</option>
                                                    <option>Hexagonal</option>
                                                    <option>Plate</option>
                                                    <option>Flat-Tube</option>
                                                    <option>Square-Tube</option>
                                                    <option>Circular-Tube</option>
                                                    <option>Equal-Leg-Angle</option>
                                                    <option>Unequal-Leg-Angle</option>
                                                    <!-- <option>Octagonal</option> -->
                                                  </select>
                                            </td>
                                            <td style="min-width:100px;max-width:100px;">
                                              <input type="number" class="form-control" ng-model="views.qpm_material_cost" ng-change="calculate(views)"/>
                                            </td>

                                            <td style="min-width:100px;max-width:100px;">
                                              <input type="number" id="qpm_length" class="form-control" ng-model="views.qpm_length"  ng-change="calculate(views)"/>
                                            </td>

                                            <td style="min-width:100px;max-width:100px;">
                                              <input type="number" id="qpm_width" class="form-control" ng-model="views.qpm_width" 
                                              ng-if="(views.qpm_shape =='Rectangle' || views.qpm_shape=='Sheet' || 
                                              views.qpm_shape=='Plate' || 
                                              views.qpm_shape=='Square' ||
                                              views.qpm_shape=='Flat-Tube' ||
                                              views.qpm_shape=='Square-Tube' || views.qpm_shape=='Equal-Leg-Angle' ||
                                              views.qpm_shape=='Unequal-Leg-Angle') 
                                              && 
                                              (views.qpm_shape!='Round' || 
                                              views.qpm_shape!='Hexagonal' ||
                                              views.qpm_shape!='Circular-Tube') " 
                                              ng-change="calculate(views)"/>
                                            </td>

                                            <td style="min-width:100px;max-width:100px;">
                                              <input type="number" id="qpm_thickness" class="form-control" ng-model="views.qpm_thickness" 
                                              ng-if="(views.qpm_shape =='Rectangle' || views.qpm_shape=='Sheet' || 
                                              views.qpm_shape=='Plate' || 
                                              views.qpm_shape=='Flat-Tube' || views.qpm_shape=='Square-Tube' || views.qpm_shape=='Equal-Leg-Angle' ||
                                              views.qpm_shape=='Unequal-Leg-Angle'||
                                              views.qpm_shape=='Circular-Tube')
                                              &&
                                              (views.qpm_shape!='Round' || 
                                              views.qpm_shape!='Hexagonal' || 
                                              views.qpm_shape!='Square')" 
                                              ng-change="calculate(views)"/>
                                            </td>

                                            <td style="min-width:100px;max-width:100px;">
                                              <input type="number" id="qpm_diameter" class="form-control" ng-model="views.qpm_diameter" 
                                              ng-if="(views.qpm_shape=='Round' || views.qpm_shape=='Hexagonal'||
                                              views.qpm_shape=='Circular-Tube') 
                                              &&
                                              (views.qpm_shape !='Rectangle' || 
                                              views.qpm_shape!='Sheet' || 
                                              views.qpm_shape!='Plate' || 
                                              views.qpm_shape!='Square' || 
                                              views.qpm_shape!='Flat-Tube' || 
                                              views.qpm_shape!='Square-Tube' || views.qpm_shape!='Equal-Leg-Angle' ||
                                              views.qpm_shape!='Unequal-Leg-Angle') 
                                               " 
                                              ng-change="calculate(views)"/>
                                            </td>

                                            <td style="min-width:100px;max-width:100px;">
                                              <input type="number" id="qpm_edge_length" class="form-control" ng-model="views.qpm_edge_length" 
                                              ng-if="(views.qpm_shape=='Flat-Tube') 
                                              &&
                                              (views.qpm_shape !='Rectangle' || 
                                              views.qpm_shape!='Sheet' || 
                                              views.qpm_shape!='Plate' || 
                                              views.qpm_shape!='Round' || 
                                              views.qpm_shape!='Hexagonal' || 
                                              views.qpm_shape!='Square' || 
                                              views.qpm_shape!='Square-Tube' || views.qpm_shape!='Equal-Leg-Angle' ||
                                              views.qpm_shape!='Unequal-Leg-Angle' ||
                                              views.qpm_shape!='Circular-Tube') 
                                              " 
                                              ng-change="calculate(views)"/>
                                            </td>
                                            <td style="min-width:100px;max-width:100px;">{{views.qpm_raw_mat_wt}}</td>
                                            <td style="min-width:100px;max-width:100px;">{{views.qpm_rm}}</td>
                                            
                     <!-- FL_cuts     -->
                                            <td class="print-hide" style="min-width:330px;max-width:330px;" id="*FL_cuts*">
                                              <table class="table">
                                                <tr>
                                                  <td style="min-width:100px;max-width:100px;">
                                                    <input type="number" class="form-control" ng-model="views.qpm_fl_price" placeholder="₹" ng-change="calculateMach(views)">
                                                  </td>
                                                  <td style="min-width:100px;max-width:100px;">
                                                    <input type="number" class="form-control" ng-model="views.qpm_fl_qty" placeholder="Qty" ng-change="calculateMach(views)">
                                                  </td>
                                                  <td style="min-width:100px;max-width:100px;">
                                                    <label class="form-control">{{views.qpm_fl_cut}}</label>
                                                  </td>
                                                </tr>
                                              </table><br>
                                            </td>
                            <!-- Turnings     -->                
                                            <td class="print-hide" style="min-width:330px;max-width:330px;">
                                              <table class="table">
                                                <tr>
                                                  <td style="min-width:100px;max-width:100px;">
                                                    <input type="number" class="form-control" ng-model="views.qpm_tn_price" placeholder="₹" ng-change="calculateMach(views)">
                                                  </td>
                                                  <td style="min-width:100px;max-width:100px;">
                                                    <input type="number" class="form-control" ng-model="views.qpm_tn_qty" placeholder="Qty" ng-change="calculateMach(views)">
                                                  </td>
                                                  <td style="min-width:100px;max-width:100px;">
                                                    <label class="form-control">{{views.qpm_turning}}</label>
                                                  </td>
                                                </tr>
                                              </table><br>
                                            </td>
                            <!-- Millings   -->
                                            <td class="print-hide" style="min-width:330px;max-width:330px;">
                                              <table class="table">
                                                <tr>
                                                  <td style="min-width:100px;max-width:100px;">
                                                    <input type="number" class="form-control" ng-model="views.qpm_ml_price" placeholder="₹" ng-change="calculateMach(views)">
                                                  </td>
                                                  <td style="min-width:100px;max-width:100px;">
                                                    <input type="number" class="form-control" ng-model="views.qpm_ml_qty" placeholder="Qty" ng-change="calculateMach(views)">
                                                  </td>
                                                  <td style="min-width:100px;max-width:100px;">
                                                    <label class="form-control">{{views.qpm_milling}}</label>
                                                  </td>
                                                </tr>
                                              </table><br>
                                            </td>
                            <!-- borings     -->
                                            <td class="print-hide" style="min-width:450px;max-width:450px;">
                                              <table class="table">
                                                <tr>
                                                  <td style="min-width:130px;max-width:130px;">
                                                    <input type="text" 
                                                    ng-model="views.borings.qpmm_mm_id"
                                                    typeahead="obj as obj.mm_search for obj in getSearchBoringMachine($viewValue)"
                                                    class="form-control" 
                                                    placeholder="Machine"/
                                                    id="boring_focus">
                                                  </td>
                                                  <td style="min-width:60px;max-width:60px;">
                                                    <input type="number" class="form-control" ng-model="views.borings.qpmm_mm_hr" placeholder="Qty">
                                                  </td>
                                                  <td style="min-width:50px;max-width:50px;">
                                                    <label class="form-control">{{views.borings.qpmm_mm_id.mm_price * views.borings.qpmm_mm_hr}}</label>
                                                  </td>
                                                  <td style="min-width:35px;max-width:35px;">
                                                    <button  class="btn btn-success" type="button" ng-click="addToBoringCart($index);"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                                                  </td>
                                                </tr>
                                              </table><br>
                                              <table class="table">
                                                <tr>       
                                                  <th>Machine</th>
                                                  <th>QTY</th>
                                                  <th>Total</th>
                                                  <th class="action">Action</th>
                                                </tr>
                                                <tr ng-repeat="boring in views.oldBorings">
                                                  <td>{{boring.mm_search}}</td>
                                                  <td>{{boring.qpmm_mm_hr}}</td>
                                                  <td>{{boring.mm_price * boring.qpmm_mm_hr}}</td>
                                                  <td class="action">
                                                    <button  class="btn btn-danger" type="button" ng-click="removeOldBoringItem($parent.$index,$index)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                                  </td>
                                                </tr>
                                                <tr ng-repeat="boring in views.borings">
                                                  <td>{{boring.qpmm_mm_id.mm_search}}</td>
                                                  <td>{{boring.qpmm_mm_hr}}</td>
                                                  <td>{{boring.qpmm_mm_id.mm_price * boring.qpmm_mm_hr}}</td>
                                                  <td class="action">
                                                    <button  class="btn btn-danger" type="button" ng-click="removeBoringItem($parent.$index,$index)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                                  </td>
                                                </tr>
                                              </table>
                                            </td>
                            <!-- drillings -->
                                            <td class="print-hide" style="min-width:450px;max-width:450px;">
                                              <table class="table">
                                                <tr>
                                                  <td style="min-width:130px;max-width:130px;">
                                                    <input type="text" 
                                                    ng-model="views.drillings.qpmm_mm_id"
                                                    typeahead="obj as obj.mm_search for obj in getSearchDrillingMachine($viewValue)"
                                                    class="form-control" 
                                                    placeholder="Machine"
                                                    id="drilling_focus"/>
                                                  </td>
                                                  <td style="min-width:60px;max-width:60px;">
                                                    <input type="number" class="form-control" ng-model="views.drillings.qpmm_mm_hr" placeholder="Qty">
                                                  </td>
                                                  <td style="min-width:50px;max-width:50px;">
                                                    <label class="form-control">{{views.drillings.qpmm_mm_id.mm_price * views.drillings.qpmm_mm_hr}}</label>
                                                  </td>
                                                  <td style="min-width:35px;max-width:35px;">
                                                    <button  class="btn btn-success" type="button" ng-click="addToDrillingCart($index);"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                                                  </td>
                                                </tr>
                                              </table><br>
                                              <table class="table">
                                                <tr>       
                                                  <th>Machine</th>
                                                  <th>QTY</th>
                                                  <th>Total</th>
                                                  <th class="action">Action</th>
                                                </tr>
                                                <tr ng-repeat="drilling in views.oldDrillings">
                                                  <td>{{drilling.mm_search}}</td>
                                                  <td>{{drilling.qpmm_mm_hr}}</td>
                                                  <td>{{drilling.mm_price * drilling.qpmm_mm_hr}}</td>
                                                  <td class="action">
                                                    <button  class="btn btn-danger" type="button" ng-click="removeOldDrillingItem($parent.$index,$index)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                                  </td>
                                                </tr>
                                                <tr ng-repeat="drilling in views.drillings">
                                                  <td>{{drilling.qpmm_mm_id.mm_search}}</td>
                                                  <td>{{drilling.qpmm_mm_hr}}</td>
                                                  <td>{{drilling.qpmm_mm_id.mm_price * drilling.qpmm_mm_hr}}</td>
                                                  <td class="action">
                                                    <button  class="btn btn-danger" type="button" ng-click="removeDrillingItem($parent.$index,$index)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                                  </td>
                                                </tr>
                                              </table>
                                            </td>
                            <!-- tapping     -->
                                            <td class="print-hide" style="min-width:450px;max-width:450px;">
                                              <table class="table">
                                                <tr>
                                                  <td style="min-width:130px;max-width:130px;">
                                                    <input type="text" 
                                                    ng-model="views.tapings.qpmm_mm_id"
                                                    typeahead="obj as obj.mm_search for obj in getSearchTapingMachine($viewValue)"
                                                    class="form-control" 
                                                    placeholder="Machine"
                                                    id="taping_focus"/>
                                                  </td>
                                                  <td style="min-width:60px;max-width:60px;">
                                                    <input type="number" class="form-control" ng-model="views.tapings.qpmm_mm_hr" placeholder="Qty">
                                                  </td>
                                                  <td style="min-width:50px;max-width:50px;">
                                                    <label class="form-control">{{views.tapings.qpmm_mm_id.mm_price * views.tapings.qpmm_mm_hr}}</label>
                                                  </td>
                                                  <td style="min-width:35px;max-width:35px;">
                                                    <button  class="btn btn-success" type="button" ng-click="addToTapingCart($index);"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                                                  </td>
                                                </tr>
                                              </table><br>
                                              <table class="table">
                                                <tr>       
                                                  <th>Machine</th>
                                                  <th>QTY</th>
                                                  <th>Total</th>
                                                  <th class="action">Action</th>
                                                </tr>
                                                <tr ng-repeat="taping in views.oldTapings">
                                                  <td>{{taping.mm_search}}</td>
                                                  <td>{{taping.qpmm_mm_hr}}</td>
                                                  <td>{{taping.mm_price * taping.qpmm_mm_hr}}</td>
                                                  <td class="action">
                                                    <button  class="btn btn-danger" type="button" ng-click="removeOldTapingItem($parent.$index,$index)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                                  </td>
                                                </tr>
                                                <tr ng-repeat="taping in views.tapings">
                                                  <td>{{taping.qpmm_mm_id.mm_search}}</td>
                                                  <td>{{taping.qpmm_mm_hr}}</td>
                                                  <td>{{taping.qpmm_mm_id.mm_price * taping.qpmm_mm_hr}}</td>
                                                  <td class="action">
                                                    <button  class="btn btn-danger" type="button" ng-click="removeTapingItem($parent.$index,$index)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                                  </td>
                                                </tr>
                                              </table>
                                            </td>
                            <!-- Grinding  -->
                                            <td class="print-hide" style="min-width:330px;max-width:330px;">
                                              <table class="table">
                                                <tr>
                                                  <td style="min-width:100px;max-width:100px;">
                                                    <input type="number" class="form-control" ng-model="views.qpm_gd_price" placeholder="₹" ng-change="calculateMach(views)">
                                                  </td>
                                                  <td style="min-width:100px;max-width:100px;">
                                                    <input type="number" class="form-control" ng-model="views.qpm_gd_qty" placeholder="Qty" ng-change="calculateMach(views)">
                                                  </td>
                                                  <td style="min-width:100px;max-width:100px;">
                                                    <label class="form-control">{{views.qpm_grinding}}</label>
                                                  </td>
                                                </tr>
                                              </table><br>
                                            </td>
                            <!-- cncs   -->
                                            <td class="print-hide" style="min-width:330px;max-width:330px;">
                                              <table class="table">
                                                <tr>
                                                  <td style="min-width:100px;max-width:100px;">
                                                    <input type="number" class="form-control" ng-model="views.qpm_cnc_price" placeholder="₹" ng-change="calculateMach(views)">
                                                  </td>
                                                  <td style="min-width:100px;max-width:100px;">
                                                    <input type="number" class="form-control" ng-model="views.qpm_cnc_qty" placeholder="Qty" ng-change="calculateMach(views)">
                                                  </td>
                                                  <td style="min-width:100px;max-width:100px;">
                                                    <label class="form-control">{{views.qpm_cnc_mc}}</label>
                                                  </td>
                                                </tr>
                                              </table><br>
                                            </td>
                            <!-- wires   -->
                                            <td class="print-hide" style="min-width:330px;max-width:330px;">
                                              <table class="table">
                                                <tr>
                                                  <td style="min-width:100px;max-width:100px;">
                                                    <input type="number" class="form-control" ng-model="views.qpm_wire_price" placeholder="₹" ng-change="calculateMach(views)">
                                                  </td>
                                                  <td style="min-width:100px;max-width:100px;">
                                                    <input type="number" class="form-control" ng-model="views.qpm_wire_qty" placeholder="Qty" ng-change="calculateMach(views)">
                                                  </td>
                                                  <td style="min-width:100px;max-width:100px;">
                                                    <label class="form-control">{{views.qpm_wire_cut}}</label>
                                                  </td>
                                                </tr>
                                              </table><br>
                                            </td>
                            <!-- fabrications    -->
                                            <td class="print-hide" style="min-width:330px;max-width:330px;">
                                              <table class="table">
                                                <tr>
                                                  <td style="min-width:100px;max-width:100px;">
                                                    <input type="number" class="form-control" ng-model="views.qpm_fab_price" placeholder="₹" ng-change="calculateMach(views)">
                                                  </td>
                                                  <td style="min-width:100px;max-width:100px;">
                                                    <input type="number" class="form-control" ng-model="views.qpm_fab_qty" placeholder="Qty" ng-change="calculateMach(views)">
                                                  </td>
                                                  <td style="min-width:100px;max-width:100px;">
                                                    <label class="form-control">{{views.qpm_fabrication}}</label>
                                                  </td>
                                                </tr>
                                              </table><br>
                                            </td>
                            <!-- hards   -->
                                            <td class="print-hide" style="min-width:330px;max-width:330px;">
                                              <table class="table">
                                                <tr>
                                                  <td style="min-width:100px;max-width:100px;">
                                                    <input type="number" class="form-control" ng-model="views.qpm_hard_price" placeholder="₹" ng-change="calculateMach(views)">
                                                  </td>
                                                  <td style="min-width:100px;max-width:100px;">
                                                    <input type="number" class="form-control" ng-model="views.qpm_hard_qty" placeholder="Qty" ng-change="calculateMach(views)">
                                                  </td>
                                                  <td style="min-width:100px;max-width:100px;">
                                                    <label class="form-control">{{views.qpm_hard}}</label>
                                                  </td>
                                                </tr>
                                              </table><br>
                                            </td>
                            <!-- blacodisings  -->
                                            <td class="print-hide" style="min-width:330px;max-width:330px;">
                                              <table class="table">
                                                <tr>
                                                  <td style="min-width:100px;max-width:100px;">
                                                    <input type="number" class="form-control" ng-model="views.qpm_bc_price" placeholder="₹" ng-change="calculateMach(views)">
                                                  </td>
                                                  <td style="min-width:100px;max-width:100px;">
                                                    <input type="number" class="form-control" ng-model="views.qpm_bc_qty" placeholder="Qty" ng-change="calculateMach(views)">
                                                  </td>
                                                  <td style="min-width:100px;max-width:100px;">
                                                    <label class="form-control">{{views.qpm_blacodising}}</label>
                                                  </td>
                                                </tr>
                                              </table><br>
                                            </td>
                            <!-- punchings   -->
                                            <td class="print-hide" style="min-width:330px;max-width:330px;">
                                              <table class="table">
                                                <tr>
                                                  <td style="min-width:100px;max-width:100px;">
                                                    <input type="number" class="form-control" ng-model="views.qpm_pc_price" placeholder="₹" ng-change="calculateMach(views)">
                                                  </td>
                                                  <td style="min-width:100px;max-width:100px;">
                                                    <input type="number" class="form-control" ng-model="views.qpm_pc_qty" placeholder="Qty" ng-change="calculateMach(views)">
                                                  </td>
                                                  <td style="min-width:100px;max-width:100px;">
                                                    <label class="form-control">{{views.qpm_punching}}</label>
                                                  </td>
                                                </tr>
                                              </table><br>
                                            </td>
                            <!-- surfs -->
                                            <td class="print-hide" style="min-width:330px;max-width:330px;">
                                              <table class="table">
                                                <tr>
                                                  <td style="min-width:100px;max-width:100px;">
                                                    <input type="number" class="form-control" ng-model="views.qpm_surf_price" placeholder="₹" ng-change="calculateMach(views)">
                                                  </td>
                                                  <td style="min-width:100px;max-width:100px;">
                                                    <input type="number" class="form-control" ng-model="views.qpm_surf_qty" placeholder="Qty" ng-change="calculateMach(views)">
                                                  </td>
                                                  <td style="min-width:100px;max-width:100px;">
                                                    <label class="form-control">{{views.qpm_surf_treat}}</label>
                                                  </td>
                                                </tr>
                                              </table><br>
                                            </td>

                                            <td style="min-width:100px;max-width:100px;" align="center">{{views.dtm_sub_total}}</td>
                                            <td style="min-width:100px;max-width:100px;" align="center">
                                                <input type="text" class="form-control" ng-model="views.qpm_profit_per" ng-change="calculateMach(views)"><br>
                                                <span>&nbsp;{{views.dtm_profit}}</span>
                                            </td>
                                            <td style="min-width:100px;max-width:100px;" align="center">{{views.dtm_cost_pc}}</td>
                                            <td style="min-width:100px;max-width:100px;" align="center">
                                                <input type="number" class="form-control" ng-model="views.qpm_qty" placeholder="Qty" ng-change="calculateMach(views)">
                                            </td>
                                            <td style="min-width:100px;max-width:100px;" align="center">{{views.dtm_total_cost}}</td>
                                            
                                            <td style="min-width:200px;max-width:200px;" align="center">
                                                <!-- <embed src="{{views.qpm_image}}" width="100px" height="100px" /> -->
                                                <!-- <img height="100" width="100" ng-src="{{views.qpm_image}}"/> -->
                                                <i class="fa fa-eye" data-toggle="tooltip" title="view PDF" ng-click="viewPdf(views.qpm_image)" ></i>  
                                                 <!-- <a href="{{views.qpm_image}}" target="_blank">view</a> -->
                                                 <input type='file' id="qpm_image" name="qpm_image" ng-model="quotation.qpm_image" data-max-size="200000" multiple onchange="checkButton(this)" /><br>
                                                 <button  class="btn btn-info" type="submit" id="" style="width: 100px;" ng-click="uploadImage(views.qpm_id)"><i class="fa fa-upload" aria-hidden="true"></i></button>
                                            </td>

                                            <td class="print-hide" style="min-width:130px;max-width:130px;" align="center">
                                              <button  class="btn btn-success" type="submit" id="btnSaveItemLine" ng-click="saveMatItem($index)"><i class="fa fa-save" aria-hidden="true"></i></button>&nbsp;

                                              <button  class="btn btn-danger" type="submit" id="btnAddItemLine" ng-click="deleteMaterial(views, $index)"><i class="fa fa-trash" aria-hidden="true"></i></button>

                                              <!-- <button  class="btn btn-danger" type="submit" id="btnAddItemLine" ng-click="removeMatItem($index)"><i class="fa fa-trash" aria-hidden="true"></i></button> -->

                                            </td>
                                        </tr>

                                    </tbody>
                                    <tfoot>
                                            <tr style="background-color: #EEEEEE;">
                                                <td style="min-width:600px;max-width:600px;"></td>
                                                <td style="min-width:200px;max-width:200px;" align="center"><b>TOTAL</b></td>
                                                <!-- <td style="min-width:100px;max-width:100px;" align="center"><b>{{purchaseorder.pom_quantity}}</b></td> -->
                                                <td style="min-width:120px;max-width:120px;" align="center"><b>{{quotation.qm_total_cost | number:2}}</b></td>
                                                <td style="min-width:90px;max-width:90px;">&nbsp;</td>
                                            </tr>
                                        </tfoot>
                                </table>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="row">
              <!-- <div class="col-lg-3">
                  <div class="form-group">
                      <label>Net Amount</label>
                      <label class="form-control">{{quotation.qm_net_cost}}</label>
                  </div>
                </div>
              <div class="col-lg-3">
                  <div class="form-group">
                      <label>CST {{quotation.qm_cgst_per}}%</label>
                      <label class="form-control" contenteditable="true">{{quotation.qm_cgst_amount}}</label>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="form-group">
                      <label>SGT {{quotation.qm_sgst_per}}%</label>
                      <label class="form-control" contenteditable="true">{{quotation.qm_sgst_amount}}</label>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="form-group">
                      <label>IGST {{quotation.qm_igst_per}}%</label>
                      <label class="form-control">{{quotation.qm_igst_amount}}</label>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="form-group">
                      <label>Transport</label>
                      <b>
                      <input type="number" id="qm_transport" class="form-control" ng-keyup="calculateTotal()" ng-model="quotation.qm_transport"/></b>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="form-group">
                      <label>Other Charges</label>
                      <b>
                      <input type="number" id="qm_other_charges" class="form-control" ng-keyup="calculateTotal()" ng-model="quotation.qm_other_charges"/></b>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="form-group">
                      <label>Discount</label>
                      <b>
                      <input type="number" id="qm_discount" class="form-control" ng-keyup="calculateTotal()" ng-model="quotation.qm_discount"/></b>
                  </div>
              </div> -->
<!--               <div class="col-lg-3">
                  <div class="form-group">
                      <label>Total Quotation Amount</label>
                      <label class="form-control">{{quotation.qm_total_cost | number}}</label>
                  </div>
              </div> -->
              
            </div>


          </div>
          <!-- / box-body -->
          <div class="box-footer">
            <button type="button" class="btn btn-danger" onclick="window.location = '#/quota/pending'" id="btncancel">Back</button>
            <button type="submit" class="btn btn-success" id="btnsave" ng-click="updateQuotation()">Update</button>
          </div>
      </div>
      <!-- /.box -->
      </div>
    </div>
</section>

<!-- Delete Record -->
<div class="modal fade" id="confirm-delete">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirm Delete</h4>
      </div>
      <div class="modal-body">
        <p>You are about to cancel the <b><i class="title"></i></b> record, this procedure is irreversible.</p>
                <p>Do you want to proceed?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <button type="button" id="del" class="btn btn-danger" ng-click="deleteConfirm()">Delete</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Delete Record -->
<div class="modal fade" id="view-pdf">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">View PDF</h4>
      </div>
      <div class="modal-body" style="height: 600px;">
        <object data="{{qpmimage}}" type="application/pdf" width="100%" height="100%">
          <!-- <a href="{{views.qpm_image}}">test.pdf</a> -->
        </object>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <button type="button" id="del" class="btn btn-danger" ng-click="deleteConfirm()">Delete</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->