<section class="content-header" ng-init="getMachine();">
  <h1>
    Machine Management
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Machine</li>
  </ol>
</section>
<section class="content">
  <div class="row">
        <div class="col-xs-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Edit Machine Details</h3>
        </div>
        <!-- /.box-header -->
          <div class="box-body">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Machine Name</label>
                    <input type="text"
                        id="mm_machine_name"
                        ng-model="machine.mm_machine_name"
                        typeahead="obj as obj.emp_name for obj in getSearchEmp($viewValue)"
                        typeahead-loading="loadingEmpList"
                        typeahead-no-results="noEmpListResults"
                        class="form-control">
                    <i ng-show="loadingEmpList" class="glyphicon glyphicon-refresh"></i>
                    <div ng-show="noEmpListResults">
                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Price / Hour</label>
                    <input type="text" id="mm_price" class="form-control" ng-model="machine.mm_price" />
                </div>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="button" class="btn btn-danger" onclick="window.location = '#/machine'" id="btncancel">Back</button>
            <button type="submit" class="btn btn-success" id="btnsave" ng-click="updateMachine()">Update</button>
          </div>
      </div>
      <!-- /.box -->
      </div>
    </div>
</section>