<style>
  
 .printshow{display:none;}
 
</style>
<!-- /.row -->
<section class="content-header" ng-init="getAll();">
  <h1>
    Project Management
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Design List</li>
  </ol>
</section>
<div align="center" v-align="bottom" ng-hide="loading1 == 1" style="margin: auto; height:400px;">
    <img src="resources/reload.gif" style="margin-top: 170px; height: 60px;width: 60px;">
</div>
<section class="content" ng-show="loading1 == 1">
	<div class="row">
		<div class="col-xs-12">
		  <div class="box box-primary">
		  	<div class="box-header with-border">
	          <h3 class="box-title">Design List</h3>
	        </div>
		    <div class="box-header">
	          <div class="box-title">
	            <div class="input-group input-group-sm" style="width: 100%">
	              <input type="text" class="form-control" id="searchtext" ng-model="searchtext" onkeyup="angular.element(this).scope().getSearch();" placeholder = "Search By- Design Number / Customer's Name / Project Number..."/>
	              <div class="input-group-btn">
	                <button type="button" class="btn btn-info" onclick="window.location = '#/design/add'"><i class="fa fa-plus"></i> Add new record</button>
	              </div>
	            </div>
	          </div>
	        </div>
		    <!-- /.box-header -->
		    <div class="box-body table-responsive no-padding">
		      <table class="table table-hover">
		        <thead>
	                <tr>
	                    <th>Design No</th>
						<th>Customer Name</th>
						<th>Mfg. Date</th>
						<th>Dely Date</th>
						<th>Proj. No</th>
						<th>P.O No</th>
						<th>P.O Date</th>
						<th>Action</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr ng-repeat="designs in filteredTodos | filter : designs">
	                    <td>{{designs.dm_design_no}}</td>
						<td>{{designs.cm_name}}</td>
						<td>{{designs.dm_mft_date | date}}</td>
						<td>{{designs.dm_dely_date | date}}</td>
						<td>{{designs.dm_project_no}}</td>
						<td>{{designs.dm_po_no}}</td>
						<td>{{designs.dm_po_date | date}}</td>
						<td ng-if="designs.dm_status == 0">
							<i class="fa fa-info-circle" data-toggle="tooltip" title="View" ng-click="viewDetails($index)" ></i>
							<a href="#/design/edit/{{designs.dm_id}}" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
							<i class="fa fa-ban" data-toggle="tooltip" title="Cancel" ng-click="deleteDesign(designs.dm_id)" ></i>
						</td>
						<td ng-if="designs.dm_status == 1">
							<i class="fa fa-info-circle" data-toggle="tooltip" title="View" ng-click="viewDetails($index)" ></i>
						</td>
	                </tr>
	            </tbody>
		      </table>
		      <br>
	            <span id="pagination_detail" ng-show="filteredTodos.length > 0" class="pagination_ds">Showing {{ filterUserend }} to {{filterUser}} of {{designListcount}} Design's</span>
			    <span id="pagination_div" align="right" ng-show="filteredTodos.length > 0"
			          style="float: right;margin-top: -27px;">
			      <pagination
			              ng-model="currentPage"
			              total-items="designListcount"
			              max-size="maxSize"
			              boundary-links="true" data-num-pages="noOfPages"
			              items-per-page="numPerPage">
			      </pagination>
		    	</span>
		    </div>
		    <!-- /.box-body -->
		  </div>
		  <!-- /.box -->
		</div>
	</div>
</section>

<div class="modal fade" id="view_icon">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
		<div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		    	<span aria-hidden="true">&times;</span>
			</button>
		    <h4 class="modal-title"><b>Design Details</b></h4>
		</div>
		<div class="modal-body">
			<table class="table">
                <tr>
                    <td>Customer Name : <b>{{design.cm_name}}</b></td>
                    <td>Address : <b>{{design.cm_address}}</b></td>
                    <td ng-if="design.dm_status == 0">Status : <b class="text-success">OPEN</b></td>
                    <td ng-if="design.dm_status == 1">Status : <b class="text-danger">CLOSED</b></td>
                </tr>
                <tr>
                    <td>MFT Date : <b>{{design.dm_mft_date | date}}</b></td>
                    <td>DELY Date : <b>{{design.dm_dely_date | date}}</b></td>
                    <td>P.O Date : <b>{{design.dm_po_date | date}}</b></td>
                </tr>
                <tr>
                    <td>Design No : <b>{{design.dm_design_no}}</b></td>
                    <td>Project No : <b>{{design.dm_project_no}}</b></td>
                    <td>P.O No : <b>{{design.dm_po_no}}</b></td>

                </tr>
            </table>
			<table class="table" id="content">
              <thead>
                <tr>
                    <td colspan="6" style="text-align: center;"><b>BILL OF MATERIAL</b></td> 
                </tr>
                <tr>
                    <th>Sr No</th>
                    <th>Part No</th>
                    <th>Part Name</th>
                    <th>Qty</th>
                    <th colspan="2"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="views in personalDetails track by $index">
                    <td>{{$index+1}}</td>
                    <td>{{views.dtm_part_no}}</td>
                    <td>{{views.dtm_part_name}}</td>
                    <td>{{views.dtm_qty}}</td>
                    <td></td>
                    <td></td>
                </tr>
              </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2"></td>
                        <td align="center"><b>TOTAL</b></td>
                        <td><b>{{totalqty}}</b></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
            <table class="table">
                <tr ng-repeat="views in imageDetails track by $index">
                    <td>Design Image :
                        <img alt="your image" height="100px" width="100px" ng-src="{{views.dim_image}}"/></td>
                </tr>
            </table>

		</div>
      	<div class="modal-footer">
        	<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        	<button type="button" class="btn btn-primary" ng-click="printDetails();">Print</button>
        </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Cancel Record -->
<div class="modal fade" id="confirm-cancel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirm Cancel</h4>
      </div>
      <div class="modal-body">
        <p>You are about to cancel the <b><i class="title"></i></b> record, this procedure is irreversible.</p>
                <p>Do you want to proceed?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <button type="button" id="del" class="btn btn-danger" ng-click="deleteConfirm()">Cancel</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->