<style>
  
 .printshow{display:none;}
 
</style>
<section class="content-header">
  <h1>
    Project Management
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Assemble</li>
  </ol>
</section>

<section class="content">
  <div class="row">
      <div class="col-xs-12">
      <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Add New Assemble Details</h3>
            </div>
              <!-- /.box-header --> 
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Assemble No.</label>
                            <input type="text" id="dm_design_no" class="form-control" ng-model="design.dm_design_no" readonly />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Date</label>
                            <input type="text" id="dm_date" class="form-control" ng-model="design.dm_date" readonly />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Customer Name</label>
                            <input type="text"
                                id="dm_cm_id"
                                ng-model="design.dm_cm_id"
                                typeahead="obj as obj.cm_search for obj in getSearchCust($viewValue)"
                                typeahead-loading="loadingCustList"
                                typeahead-no-results="noCustListResults"
                                class="form-control">
                            <i ng-show="loadingCustList" class="glyphicon glyphicon-refresh"></i>
                            <div ng-show="noCustListResults">
                                <i class="glyphicon glyphicon-remove"></i> No Results Found
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Project No.</label>
                            <input type="number" id="dm_project_no" class="form-control" ng-model="design.dm_project_no" />
                        </div>
                    </div>
                    <div class="col-lg-3 pull-right" style="margin-top:25px;margin-right: 3px;">
                        <div class="form-group">
                            <button  class="btn btn-info pull-right" type="button" ng-click="addCustomerModal();"><i class="fa fa-plus-square" aria-hidden="true" ></i> Customer</button>
                            
                        </div>
                    </div>
                   
                </div><hr>
                  <!-- Row end  -->


                  <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Material Code</label>
                                        <input type="text" id="dtm_material_code" class="form-control" ng-model="material.dtm_material_code" />
                                    </div>
                                </div>  
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Part Name</label>
                                        <input type="text" id="dtm_part_name" class="form-control" ng-model="material.dtm_part_name" />
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label>Qty</label>
                                        <input type="number" id="dtm_qty" class="form-control" ng-model="material.dtm_qty" />
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Material</label>
                                        <input type="text"
                                                    id="mtm_id"
                                                    ng-model="material.mtm_id"
                                                    typeahead="obj as obj.mtm_search for obj in getSearchMaterial($viewValue)"
                                                    typeahead-loading="loadingMaterialList"
                                                    typeahead-no-results="noMaterialListResults"
                                                    typeahead-on-select="getMaterialDetails(material.mtm_id)"
                                                    class="form-control"
                                                    ng-change="calculateRM()">
                                                <i ng-show="loadingMaterialList" class="glyphicon glyphicon-refresh"></i>
                                                <div ng-show="noMaterialListResults">
                                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="dtm_shape">Material Shape</label>
                                        <!-- <input type="number" id="dtm_material_shape" class="form-control" ng-model="material.dtm_material_shape" ng-change="calculateRM()"/> -->
                                          <select class="form-control" id="dtm_shape" ng-model="material.dtm_shape" ng-change="disableField()">
                                            <option value="" disabled selected>-- Select your option --</option>
                                            <option>Rectangle</option>
                                            <option>Sheet</option>
                                            <option>Round</option>
                                            <option>Square</option>
                                            <option>Hexagonal</option>
                                            <option>Plate</option>
                                            <option>Flat-Tube</option>
                                            <option>Square-Tube</option>
                                            <option>Circular-Tube</option>
                                            <option>Equal-Leg-Angle</option>
                                            <option>Unequal-Leg-Angle</option>

                                            <!-- <option>Octagonal</option> -->
                                          </select>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label>Material Cost</label>
                                        <input type="number" id="dtm_material_cost" class="form-control" ng-model="material.dtm_material_cost" ng-change="calculateRM()"/>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label>L (mm)</label>
                                                <input type="number" id="dtm_length" class="form-control" ng-model="material.dtm_length"  ng-change="calculateRM()"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-2" id="width">
                                            <div class="form-group">
                                                <label>W (mm)</label>
                                                <input type="number" id="dtm_width" class="form-control" ng-model="material.dtm_width"  ng-change="calculateRM()"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-2" id="thickness">
                                            <div class="form-group">
                                                <label>T (mm)</label>
                                                <input type="number" id="dtm_thickness" class="form-control" ng-model="material.dtm_thickness" ng-change="calculateRM()" />
                                            </div>
                                        </div>
                                        <div class="col-lg-2" id="diameter">
                                            <div class="form-group">
                                                <label>D (mm)</label>
                                                <input type="number" id="dtm_diameter" class="form-control" ng-model="material.dtm_diameter" ng-change="calculateRM()" />
                                            </div>
                                        </div>
                                        <div id="edge_length" style="margin-left: 50px;">
                                            <div class="form-group">
                                                <label>Edge L (mm)</label>
                                                <input type="number" id="dtm_edge_length" class="form-control" ng-model="material.dtm_edge_length" ng-change="calculateRM()" style="width: 70px"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label>RAW MAT WT (Kg)</label>
                                        <label  class="form-control">{{material.dtm_raw_mat_wt }}</label>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label>RM</label>
                                        <label class="form-control">{{material.dtm_rm }}</label>
                                    </div>
                                </div>
                                <!-- <div class="col-lg-2">
                                    <div class="form-group">
                                        <label>Grinding</label>
                                         <input type="text" 
                                                    id="qpmm_mm_id"
                                                    ng-model="material.qpmm_mm_id"
                                                    typeahead="obj as obj.mm_search for obj in getSearchMachine($viewValue)"
                                                    typeahead-loading="loadingMachineList"
                                                    typeahead-no-results="noMachineListResults"
                                                    class="form-control" 
                                                    placeholder="Machine"
                                                    ng-change="calculateGrinding()"/>
                                                    <i ng-show="loadingMachineList" class="glyphicon glyphicon-refresh"></i>
                                                    <div ng-show="noMachineListResults">
                                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                    </div>       
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label>Grinding Qty</label>
                                        <input type="number" id="dtm_grinding_qty" class="form-control" ng-model="material.dtm_grinding_qty" ng-change="calculateGrinding()"/>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label>Grinding Amt</label>
                                        <label class="form-control">{{material.dtm_grinding}}</label>
                                    </div>
                                </div> -->
                            <!-- IMAGE -->
                                <!-- <div class="col-lg-3">
                                    <div class="form-group">
                                        <img alt="your image" id="blah" height="100" width="100" ng-src="{{displayImage}}"/>
                                        <input type='file' id="dm_image" name="dm_image" data-max-size="200000" multiple onchange="checkButton(this)" />
                                        <p style="font-size: 7pt; margin-top: 5px;" class="text-danger"><b>Upload Image less than 200KB</b></p>
                                    </div>
                                </div> -->
                                <div class="col-lg-2">
                                    <div class="form-group" style="margin-top:23px;">
                                      <button  class="btn btn-success" type="button" id="btnAddMaterial" ng-click="btnAddMaterial();"><i class="fa fa-plus-square" aria-hidden="true"></i> Add</button>
                                    </div>
                                </div>

                                
                            </div>
                        </div>
                    </div>
                </div>
                  <!-- Row end  -->

                  <div class="col-lg-12">
                    <div class="table-responsive">
                      <table class="table" id="content">
                          <thead>
                              <tr>
                                  <td colspan="14" style="text-align: center;"><b>BILL OF MATERIAL LIST</b></td> 
                              </tr>
                              <tr>
                                  <th>Sr. No</th>
                                  <th>Material Code</th>
                                  <th>Part Name</th>
                                  <th>Qty</th>
                                  <th>Material</th>
                                  <th>Material Shape</th>
                                  <th>Material Cost</th>
                                  <th>L (mm)</th>
                                  <th>W (mm)</th>
                                  <th>T (mm)</th>
                                  <th>D (mm)</th>
                                  <th>Edge L (mm)</th>
                                  <th>RAW MAT WT (Kg)</th>
                                  <th>RM</th>
                                  <!-- <th>Grinding</th> -->

                                  <!-- <th class="print-hide">Drawing</th> -->
                                  <th class="print-hide">Action</th>
                                  <!-- <th colspan="2">&nbsp;</th> -->
                              </tr>
                          </thead>
                          <tbody>
                              <tr ng-repeat="materialDetail in materialDetails track by $index">
                                  <td>{{$index+1}}</td>
                                  <td>{{materialDetail.dtm_material_code}}</td>
                                  <td>{{materialDetail.dtm_part_name}}</td>
                                  <td>
                                    <span class="printshow">
                                      {{materialDetail.dtm_qty}}
                                    </span>
                                    <span class="print-hide">
                                      <input type="number" class="form-control" id="dtm_qty" ng-model="materialDetail.dtm_qty" ng-change="calculate();" required/>
                                    </span>
                                  </td>

                                  <td>{{materialDetail.mtm_id.mtm_name}}</td>

                                  <td>{{materialDetail.dtm_shape}}</td>

                                  <td>
                                    <span class="printshow">
                                      {{materialDetail.dtm_material_cost}}
                                    </span>
                                    <span class="print-hide">
                                      <input type="number" class="form-control" id="dtm_material_cost" ng-model="materialDetail.dtm_material_cost" ng-change="calculate1RM();" required/>
                                    </span>
                                  </td>

                                  <td>
                                    <span class="printshow">
                                      {{materialDetail.dtm_length}}
                                    </span>
                                    <span class="print-hide">
                                      <input type="number" class="form-control" id="dtm_length" ng-model="materialDetail.dtm_length" ng-change="calculate1RM();" required/>
                                    </span>
                                  </td>

                                  <td>
                                    <span class="printshow">
                                      {{materialDetail.dtm_width}}
                                    </span>
                                    <span class="print-hide">
                                      <input type="number" class="form-control" id="dtm_width" ng-model="materialDetail.dtm_width" ng-change="calculate1RM();" required/>
                                    </span>
                                  </td>

                                  <td>
                                    <span class="printshow">
                                      {{materialDetail.dtm_thickness}}
                                    </span>
                                    <span class="print-hide">
                                      <input type="number" class="form-control" id="dtm_thickness" ng-model="materialDetail.dtm_thickness" ng-change="calculate1RM();" required/>
                                    </span>
                                  </td>

                                  <td>
                                    <span class="printshow">
                                      {{materialDetail.dtm_diameter}}
                                    </span>
                                    <span class="print-hide">
                                      <input type="number" class="form-control" id="dtm_diameter" ng-model="materialDetail.dtm_diameter" ng-change="calculate1RM();" required/>
                                    </span>
                                  </td>

                                  <td>
                                    <span class="printshow">
                                      {{materialDetail.dtm_edge_length}}
                                    </span>
                                    <span class="print-hide"> 
                                      <input type="number" class="form-control" id="dtm_edge_length" ng-model="materialDetail.dtm_edge_length" ng-change="calculate1RM();" required/>
                                    </span>
                                  </td>

                                  <td>{{materialDetail.dtm_raw_mat_wt}}</td>

                                  <td>{{materialDetail.dtm_rm}}</td>

                                  <!-- <td>{{materialDetail.dtm_grinding}}</td> -->

                                 <!--  <td class="print-hide">
                                   <img alt="your image" height="100" width="100" ng-src="{{materialDetail.dm_image_file}}"/>
                                 </td> -->
                                  <td class="print-hide">
                                    <!-- <input type="button" class="btn btn-danger" ng-click="remove()" value="Remove"> -->
                                    <button  class="btn btn-danger" type="submit" id="btnAddItemLine" ng-click="removeMatItem($index)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                  </td>
                              </tr>
                          </tbody>
                          <tfoot>
                              <tr>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>  
                                  <td align="center"><b>TOTAL</b></td>
                                  <td><b>{{design.totalQty}}</b></td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <!-- <td>&nbsp;</td> -->
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                              </tr>
                          </tfoot>
                      </table>

                    </div>
                  </div>

          <!-- IMAGE TABLE -->
                <!-- <div class="row">
                  <div class="col-md-12">
                      <div class="panel panel-default">
                          <div class="panel-body">
                              <div class="col-sm-8">
                                <input type="hidden" id="im">
                                <img alt="your image" id="blah" height="100" width="100" ng-src="{{displayImage}}"/>
                                <input type='file' id="dm_image" name="dm_image" multiple onchange="checkButton(this)" />
                              </div>
                              <div class="col-sm-4"><br>
                                <button  class="btn btn-success" type="submit" id="btnAddCart" ng-click="addToCart();"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add</button>
                              </div>
                              <div class="col-sm-12">
                                <table class="table table-striped table-bordered">
                                      <thead>
                                          <tr>
                                              <th>Drawing</th>
                                              <th>Action</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr ng-repeat="imageDetail in imageDetails">
                                              <td>
                                                 <img alt="your image" height="100" width="100" ng-src="{{imageDetail.dm_image_file}}"/></td>
                                              <td><button  class="btn btn-danger" type="submit" id="btnAddItemLine" ng-click="removeItem($index)"><i class="fa fa-minus-square" aria-hidden="true"></i></button></td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div> -->
                              <!-- ################################################ -->
                              <!-- <form ng-submit="addNewImg()">
                                  <table class="table table-striped table-bordered">
                                      <thead>
                                          <tr>
                                              <th>Select</th>
                                              <th>Drawing</th>
                                              <th>Select Image</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr ng-repeat="imageDetail in imageDetails">
                                              <td><input type="checkbox" ng-model="imageDetail.selected"    /></td>
                                              <td>
                                                 <img alt="your image" height="100" width="100" ng-src="{{displayImage}}"/></td>
                                              <td><input type='file' id="dm_image" name="dm_image" ng-model="imageDetail.srno" multiple required onchange="checkButton(this)" /></td>
                                          </tr>
                                      </tbody>
                                  </table>

                                  <div class="form-group">
                                      <input ng-hide="!imageDetails.length" type="button" class="btn btn-danger pull-right" ng-click="removed()" value="Remove">
                                      <input type="submit" class="btn btn-primary addnew pull-right" value="Add New">
                                  </div>
                              </form> -->
                         <!--  </div>
                      </div>
                  </div>
              </div> -->
               <!-- Row end  -->
        <!-- END IMAGE TABLE -->

            </div>
              <!-- /.box-body -->

            <div class="box-footer">
              <button type="button" class="btn btn-danger" onclick="window.location = '#/design'" id="btncancel">Back</button>
              <button type="button" class="btn btn-success" id="btnsave" ng-click="addDesign()">Save</button>
            </div>
        </div>
          <!-- /.box -->
      </div>
        <!-- col-xs-12 -->
  </div>
    <!-- row -->
</section>


<!-- Add Customer -->
<div class="modal fade" id="add-customer-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Customer</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Customer Name</label>
                    <input type="text" id="cm_name" class="form-control" ng-model="customer.cm_name" required/>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>GST No.</label>
                    <input type="text" id="cm_gst" class="form-control" ng-model="customer.cm_gst" />
                </div>
            </div>
            
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Address</label>
                    <textarea id="cm_address" class="form-control" ng-model="customer.cm_address" rows="1"></textarea>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Customer's Contact Number</label>
                    <input type="tel" id="cm_mobile" class="form-control" ng-model="customer.cm_mobile" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Email Id</label>
                    <input type="text" id="cm_email" class="form-control" ng-model="customer.cm_email" />
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <label>Opening Debit</label>
                    <input type="text" id="cm_debit" class="form-control" ng-model="customer.cm_debit" />
                </div>
            </div>
                
             <div class="col-lg-4">
                <div class="form-group">
                    <label>Opening Credit</label>
                    <input type="text" id="cm_credit" class="form-control" ng-model="customer.cm_credit" />
                </div>
            </div> 

            <div class="col-lg-4">
                <div class="form-group">
                    <label>Contact Person Name</label>
                    <input type="text" id="cm_contact_person_name" class="form-control" ng-model="customer.cm_contact_person_name" />
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <label>Department Name</label>
                    <input type="text" id="cm_dept_name" class="form-control" ng-model="customer.cm_dept_name" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Contact Person Number</label>
                    <input type="text" id="cm_contact_person_number" class="form-control" ng-model="customer.cm_contact_person_number" />
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="addCustomer" class="btn btn-success" ng-click="addCustomer()">Add Customer</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Add Inventory -->
<div class="modal fade" id="add-inventory-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Inventory</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Part Number</label>
                    <input type="text" id="im_part_no" class="form-control" ng-model="inventory.im_part_no" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Part Name</label>
                    <input type="text" id="im_part_name" class="form-control" ng-model="inventory.im_part_name" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Opening Quantity</label>
                    <input type="number" id="im_opening_quantity" class="form-control" ng-model="inventory.im_opening_quantity" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Price</label>
                    <input type="number" id="im_price" class="form-control" ng-model="inventory.im_price" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>MRP</label>
                    <input type="number" id="im_mrp" class="form-control" ng-model="inventory.im_mrp" />
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="addInventory" class="btn btn-success" ng-click="addInventory()">Add Inventory</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->