<style>
  
 .printshow{display:none;}
 
</style>
<!-- /.row -->
<section class="content-header" ng-init="getAll();">
  <h1>
    Project Management
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Design List</li>
  </ol>
</section>
<div align="center" v-align="bottom" ng-hide="loading1 == 1" style="margin: auto; height:400px;">
    <img src="resources/reload.gif" style="margin-top: 170px; height: 60px;width: 60px;">
</div>
<section class="content" ng-show="loading1 == 1">
	<div class="row">
		<div class="col-xs-12">
		  <div class="box box-primary">
		  	<div class="box-header with-border">
	          <h3 class="box-title">Design List</h3>
	        </div>
		    <div class="box-header">
	          <div class="box-title">
	            <div class="input-group input-group-sm" style="width: 100%">
	              <input type="text" class="form-control" id="searchtext" ng-model="searchtext" onkeyup="angular.element(this).scope().getSearch();" placeholder = "Search By- Design Number / Customer's Name / Project Number..."/>
	              <div class="input-group-btn">
	                <button type="button" class="btn btn-info" onclick="window.location = '#/design/add'"><i class="fa fa-plus"></i> Add new record</button>
	              </div>
	            </div>
	          </div>
	        </div>
		    <!-- /.box-header -->
		    <div class="box-body table-responsive no-padding">
		      <table class="table table-hover">
		        <thead>
	                <tr>
	                    <th>Design No</th>
						<th>Customer Name</th>
						<th>Mfg. Date</th>
						<th>Dely Date</th>
						<th>Proj. No</th>
						<th>P.O No</th>
						<th>P.O Date</th>
						<th>Action</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr ng-repeat="designs in filteredTodos | filter : designs">
	                    <td>{{designs.dm_design_no}}</td>
						<td>{{designs.cm_name}}</td>
						<td>{{designs.dm_mft_date | date}}</td>
						<td>{{designs.dm_dely_date | date}}</td>
						<td>{{designs.dm_project_no}}</td>
						<td>{{designs.dm_po_no}}</td>
						<td>{{designs.dm_po_date | date}}</td>
						<td>
							<i class="fa fa-info-circle" data-toggle="modal" data-target="#view_icon" ng-click="viewDetails($index)"></i>
							<a href="#/design/edit/{{designs.dm_id}}"><i class="fa fa-pencil"></i></a>
							<i class="fa fa-trash" data-toggle="modal" data-target="#confirm-delete" ng-click="deleteDesign(designs.dm_id)"></i>
						</td>
	                </tr>
	            </tbody>
		      </table>
		      <br>
	            <span id="pagination_detail" ng-show="filteredTodos.length > 0" class="pagination_ds">Showing {{ filterUserend }} to {{filterUser}} of {{designListcount}} Design's</span>
			    <span id="pagination_div" align="right" ng-show="filteredTodos.length > 0"
			          style="float: right;margin-top: -27px;">
			      <pagination
			              ng-model="currentPage"
			              total-items="designListcount"
			              max-size="maxSize"
			              boundary-links="true" data-num-pages="noOfPages"
			              items-per-page="numPerPage">
			      </pagination>
		    	</span>
		    </div>
		    <!-- /.box-body -->
		  </div>
		  <!-- /.box -->
		</div>
	</div>
</section>

<div class="modal fade" id="view_icon">
  <div class="modal-dialog">
    <div class="modal-content">
		<div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		    <span aria-hidden="true">&times;</span></button>
		    <h4 class="modal-title">Design Details</h4>
		    {{design.dm_design_no}} {{design.cm_name}}
		</div>
		<div class="modal-body">
			<table class="table" id="content">
              <thead>
                <tr>
                    <td colspan="6" style="text-align: center;"><b>BILL OF MATERIAL</b></td> 
                </tr>
                <tr>
                    <th>Sr No</th>
                    <th>Part No</th>
                    <th>Part Name</th>
                    <th>Qty</th>
                    <th colspan="2"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="views in personalDetails track by $index">
                    <td>{{$index+1}}</td>
                    <td>{{views.dtm_part_no}}</td>
                    <td>{{views.dtm_part_name}}</td>
                    <td>{{views.dtm_qty}}</td>
                    <td></td>
                    <td></td>
                </tr>
              </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2"></td>
                        <td>Total</td>
                        <td>{{design.totalqty}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
		</div>
      	<div class="modal-footer">
        	<button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>&nbsp;
        	<button type="button" class="btn btn-primary pull-right" ng-click="printDetails();">Print</button>
        </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->