
<section class="content-header">
  <h1>
    Project Management
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Design</li>
  </ol>
</section>

<section class="content">
  <div class="row">
        <div class="col-xs-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Add New Design Details</h3>
        </div>
        <!-- /.box-header -->
          <div class="box-body">
            <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label>Design No.</label>
                    <input type="text" id=dm_design_no" class="form-control" ng-model="design.dm_design_no" />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label>Customer Name</label>
                    <input type="text"
                        id="dm_cm_name"
                        ng-model="design.dm_cm_name"
                        typeahead="obj as obj.cm_name for obj in getSearchCust($viewValue)"
                        typeahead-loading="loadingCustList"
                        typeahead-no-results="noCustListResults"
                        class="form-control">
                    <i ng-show="loadingCustList" class="glyphicon glyphicon-refresh"></i>
                    <div ng-show="noCustListResults">
                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label>Manufacturing Date</label>
                    <input type="text" id="dm_mft_date" class="form-control" ng-model="design.dm_mft_date" readonly/>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label>Delivery Date</label>
                    <input type="text" id="dm_delivery_date" class="form-control" ng-model="design.dm_delivery_date" readonly/>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label>Project No.</label>
                    <input type="text" id="dm_project_no" class="form-control" ng-model="design.dm_project_no" />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label>P.O No.</label>
                    <input type="text" id="dm_po_no" class="form-control" ng-model="design.dm_po_no" />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label>P.O Date</label>
                    <input type="text" id="dm_po_date" class="form-control" ng-model="design.dm_po_date" readonly />
                </div>
            </div>
          </div><hr>

          <div class="row">
              <div class="col-md-12">
                  <div class="panel panel-default">
                      <div class="panel-body">
                          <form ng-submit="addNew()">
                              <table class="table table-striped table-bordered">
                                  <thead>
                                      <tr>
                                          <td colspan="5" style="text-align: center;"><b>BILL OF MATERIAL</b></td> 
                                      </tr>
                                      <tr>
                                          <th>Select</th>
                                          <th>Sr No</th>
                                          <th>Part No</th>
                                          <th>Part Name</th>
                                          <th>Qty</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr ng-repeat="personalDetail in personalDetails">
                                          <td>
                                              <input type="checkbox" ng-model="personalDetail.selected" />
                                              <input type="checkbox" class="minimal" ></td>
                                          <td>
                                              {{$index+1}}</td>
                                          <td>
                                              <input type="text" class="form-control" ng-model="personalDetail.dm_part_no" required/></td>
                                          <td>
                                              <input type="text" class="form-control" ng-model="personalDetail.dm_part_name" required/></td>
                                          <td>
                                              <input type="number" class="form-control" ng-model="personalDetail.dm_qty" required/></td>
                                      </tr>
                                  </tbody>
                              </table>

                              <div class="form-group">
                                  <input ng-hide="!personalDetails.length" type="button" class="btn btn-danger pull-right" ng-click="remove()" value="Remove">
                                  <input type="submit" class="btn btn-primary addnew pull-right" value="Add New">
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>


            <div class="col-lg-12">
                <div class="form-group">
                    <label for="name">Photo</label><br>
                    <img id="blah" alt="your image" height="100" width="100" ng-src="{{displayImage}}"/>
                    <input type='file' id="em_photo" name="em_photo" multiple/>
                </div>
            </div>
             <div class="col-lg-1">
                <div class="form-group">
                  <button type="submit" class="btn btn-primary" id="btnadd">+ Add</button>
                </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                  <div class="panel panel-default">
                      <div class="panel-body">
                          <form ng-submit="addNewImg()">
                              <table class="table table-striped table-bordered">
                                  <thead>
                                      <tr>
                                          <th>Select</th>
                                          <th>Image</th>
                                          <th>File</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr ng-repeat="imageDetail in imageDetails">
                                          <td><input type="checkbox" ng-model="imageDetail.selected"    /></td>
                                          <td>
                                             <img class="blah" alt="your image" height="100" width="100" ng-src="{{displayImage}}"/></td>
                                          <td><input type='file' class="em_photo" name="em_photo" multiple/></td>
                                      </tr>
                                  </tbody>
                              </table>

                              <div class="form-group">
                                  <input ng-hide="!imageDetails.length" type="button" class="btn btn-danger pull-right" ng-click="removed()" value="Remove">
                                  <input type="submit" class="btn btn-primary addnew pull-right" value="Add New">
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>

          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="button" class="btn btn-danger" onclick="window.location = '#/design'" id="btncancel">Back</button>
            <button type="submit" class="btn btn-success" id="btnsave" ng-click="addDesign()">Save</button>
          </div>
      </div>
      <!-- /.box -->
      </div>
    </div>
</section>