
<section class="content-header">
  <h1>
    Dashboard
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>

<!-- Main content -->
<section class="content" ng-init="getAll()">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>{{invoicereport}}</h3>

          <p>invoicereport Report</p>
        </div>
        <div class="icon">
          <i class="ion-android-plane"></i>
        </div>
        <a href="#/invoicereport" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->

    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-purple">
        <div class="inner">
          <h3>{{designreport}}</h3>

          <p>Project Report</p>
        </div>
        <div class="icon">
          <i class="ion ion-ios-copy"></i>
        </div>
        <a href="#/designreport" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->

    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-green">
        <div class="inner">
          <h3>{{visareport}}</h3>

          <p>Visa Report</p>
        </div>
        <div class="icon">
          <i class="ion ion-cash"></i>
        </div>
        <a href="#/visareport" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->

    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3>{{hotelreport}}</h3>

          <p>Hotel Report</p>
        </div>
        <div class="icon">
          <i class="ion ion-ios-home"></i>
        </div>
        <a href="#/hotelreport" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->

  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header with-border">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <td colspan="5" style="text-align:center;"><b>PROJECT DETAILS</b></td>
                  </tr>
                  <tr>
                    <th>&nbsp;</th>
                    <th>Project No.</th>
                    <th>Date</th>
                    <th>Customer</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="design in filteredTodos">
                    <td></td>
                    <td ng-click="addQuotation(design)" id="mouse_hover">{{design.dm_project_no}}</td>
                    <!-- <td><a href="#/quotation/add}}">{{design.dm_project_no}}</a></td> -->
                    <td>{{design.dm_date | date : mediumDate}}</td>
                    <td>{{design.cm_name}} - {{design.cm_mobile}} - {{design.cm_address}}</td>
                    <td>
                      <i class="fa fa-info-circle" data-toggle="tooltip" title="View" ng-click="viewDetails($index)" ></i>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</section>
<!-- .content -->

  <!-- DESIGN view modal -->
<div class="modal fade" id="view_icon">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
        <h4 class="modal-title"><b>Project Details</b></h4>
    </div>
    <div class="modal-body">
      <table class="table">
                <tr>
                    <td>Customer Name : <b>{{design.cm_name}}</b></td>
                    <td>Address : <b>{{design.cm_address}}</b></td>
                    <td ng-if="design.dm_status == 0">Status : <b class="text-success">OPEN</b></td>
                    <td ng-if="design.dm_status == 1">Status : <b class="text-danger">CLOSED</b></td>
                </tr>
                <tr>
                    <td>Project No : <b>{{design.dm_project_no}}</b></td>
                    <td>Date : <b>{{design.dm_date | date}}</b></td>
                </tr>
            </table>
      <table class="table" id="content">
              <thead>
                <tr>
                    <td colspan="14" style="text-align: center;"><b>BILL OF MATERIAL</b></td> 
                </tr>
                <tr>
                  <th>Sr. No</th>
                  <th>Material Code</th>
                  <th>Part Name</th>
                  <th>Qty</th>
                  <th>Material</th>
                  <th>Material Shape</th>
                  <th>Material Cost</th>
                  <th>L (mm)</th>
                  <th>W (mm)</th>
                  <th>T (mm)</th>
                  <th>D (mm)</th>
                  <th>Edge L (mm)</th>
                  <th>RAW MAT WT (Kg)</th>
                  <th>RM</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="views in personalDetails track by $index">
                    <td>{{$index+1}}</td>
                    <td>{{views.dtm_material_code}}</td>
                    <td>{{views.dtm_part_name}}</td>
                    <td>{{views.dtm_qty}}</td>
                    <td>{{views.mtm_name}}</td>
                    <td>{{views.dtm_shape}}</td>
                    <td>{{views.dtm_material_cost}}</td>
                    <td>{{views.dtm_length}}</td>
                    <td>{{views.dtm_width}}</td>
                    <td>{{views.dtm_thickness}}</td>
                    <td>{{views.dtm_diameter}}</td>
                    <td>{{views.dtm_edge_length}}</td>
                    <td>{{views.dtm_raw_mat_wt}}</td>
                    <td>{{views.dtm_rm}}</td>
                </tr>
              </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" align="center"><b>TOTAL</b></td>
                        <td align="center"><b>{{totalqty}}</b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
            <!-- <table class="table">
                <tr ng-repeat="views in imageDetails track by $index">
                    <td>Design Image :
                        <img alt="your image" height="100px" width="100px" ng-src="{{views.dim_image}}"/></td>
                </tr>
            </table> -->

    </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary" ng-click="printDetails();">Print</button> -->
        </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->