<section class="content-header" ng-init="getAll();">
  <h1>
    Inventory Management
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Material</li>
  </ol>
</section>

<div align="center" v-align="bottom" ng-hide="loading1 == 1" style="margin: auto; height:400px;">
    <img src="resources/reload.gif" style="margin-top: 170px; height: 60px;width: 60px;">
</div>
<section class="content" ng-show="loading1 == 1">
	<div class="row">
		<div class="col-xs-12">
		  <div class="box box-primary">
		  	<div class="box-header with-border">
        	  <h3 class="box-title">Material List</h3>
       		</div>
		    <div class="box-header">
	          <div class="box-title">
	            <div class="input-group input-group-sm" style="width: 100%">
	              <input type="text" class="form-control" id="searchtext" ng-model="searchtext" onkeyup="angular.element(this).scope().getSearch();" placeholder = "Search Here..."/>
	              <div class="input-group-btn">
	                <button type="button" class="btn btn-info" onclick="window.location = '#/material/add'"><i class="fa fa-plus"></i> Add new record</button>
	              </div>
	            </div>
	          </div>
	        </div>
		    <!-- /.box-header -->
		    <div class="box-body table-responsive no-padding">
		      <table class="table table-hover">
		        <thead>
	                <tr>
						<th>Material Name</th>
						<th>Density</th>
						<th>Price / KG</th>
						<th>Action</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr ng-repeat="material in filteredTodos | filter : material">
	                    <td>{{material.mtm_name}}</td>
						<td>{{material.mtm_density}}</td>
						<td>{{material.mtm_price}}</td>
						<td>
							<!-- <i class="fa fa-info-circle" data-toggle="modal" data-target="#view-details" ng-click="viewMaterialDetails1($index)"></i> -->
							<a href="#/material/edit/{{material.mtm_id}}" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
							<i class="fa fa-trash" data-toggle="tooltip" title="Delete" ng-click="deleteMaterial(material.mtm_id)" ></i>
						</td>
	                </tr>
	            </tbody>
		      </table>
		      <br>
	            <span id="pagination_detail" ng-show="filteredTodos.length > 0" class="pagination_ds">Showing {{ filterUserend }} to {{filterUser}} of {{materialListcount}} Material's</span>
			    <span id="pagination_div" align="right" ng-show="filteredTodos.length > 0"
			          style="float: right;margin-top: -27px;">
			      <pagination
			              ng-model="currentPage"
			              total-items="materialListcount"
			              max-size="maxSize"
			              boundary-links="true" data-num-pages="noOfPages"
			              items-per-page="numPerPage">
			      </pagination>
		    	</span>
		    </div>
		    <!-- /.box-body -->
		  </div>
		  <!-- /.box -->
		</div>
	</div>
</section>
