<!-- /.row -->
<section class="content-header" ng-init="getAll();">
  <h1>
    Customer Management
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Customer List</li>
  </ol>
</section>
<div align="center" v-align="bottom" ng-hide="loading1 == 1" style="margin: auto; height:400px;">
    <img src="resources/reload.gif" style="margin-top: 170px; height: 60px;width: 60px;">
</div>
<section class="content" ng-show="loading1 == 1">
	<div class="row">
		<div class="col-xs-12">
		  <div class="box box-primary">
		  	<div class="box-header with-border">
          <h3 class="box-title">Customer List</h3>
        </div>
		    <div class="box-header">
	          <div class="box-title">
	            <div class="input-group input-group-sm" style="width: 100%">
	              <input type="text" class="form-control" id="searchtext" ng-model="searchtext" onkeyup="angular.element(this).scope().getSearch();" placeholder = "Search By- Customer's Name / Customer's Address / Customer's GST No. / Customer's Contact Number..."/>
	              <div class="input-group-btn">
	                <button type="button" class="btn btn-info" onclick="window.location = '#/customer/add'"><i class="fa fa-plus"></i> Add new record</button>
	              </div>
	            </div>
	          </div>
	        </div>
		    <!-- /.box-header -->
		    <div class="box-body table-responsive no-padding">
		      <table class="table table-hover">
		        <thead>
	                <tr>
						<th>Customer Name</th>
						<th>Address</th>
						<th>GST No.</th>
						<th>Contact No.</th>
						<th>E-Mail</th>
						<th>Contact Person</th>
						<th>Debit</th>
						<th>Credit</th>
						<th>Action</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr ng-repeat="customer in filteredTodos | filter : customer">
						<td>{{customer.cm_name}}</td>
						<td>{{customer.cm_address}}</td>
						<td>{{customer.cm_gst}}</td>
						<td>{{customer.cm_mobile}}</td>
						<td>{{customer.cm_email}}</td>
						<td>{{customer.cm_contact_person_name}} ({{customer.cm_contact_person_number}})</td>
						<td>{{customer.cm_debit | number : '0'}}</td>
						<td>{{customer.cm_credit | number : '0'}}</td>
						<td>
							<!-- <i class="fa fa-info-circle" data-toggle="modal" data-target="#view-details" ng-click="viewCustomerDetails1($index)"></i> -->
							<a href="#/customer/edit/{{customer.cm_id}}" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
							<i class="fa fa-trash" data-toggle="tooltip" title="Delete" ng-click="deleteCustomer(customer.cm_id)"></i>
						</td>
	                </tr>
	            </tbody>
		      </table>
		      <br>
	            <span id="pagination_detail" ng-show="filteredTodos.length > 0" class="pagination_ds">Showing {{ filterUserend }} to {{filterUser}} of {{customerList.length}} Customer's</span>
			    <span id="pagination_div" align="right" ng-show="filteredTodos.length > 0"
			          style="float: right;margin-top: -27px;">
			      <pagination
			              ng-model="currentPage"
			              total-items="customerList.length"
			              max-size="maxSize"
			              boundary-links="true" data-num-pages="noOfPages"
			              items-per-page="numPerPage">
			      </pagination>
		    	</span>
		    </div>
		    <!-- /.box-body -->
		  </div>
		  <!-- /.box -->
		</div>
	</div>
</section>