<!-- /.row -->
<section class="content-header" ng-init="getAll();">
  <h1>
    Supplier Management
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Supplier List</li>
  </ol>
</section>
<div align="center" v-align="bottom" ng-hide="loading1 == 1" style="margin: auto; height:400px;">
    <img src="resources/reload.gif" style="margin-top: 170px; height: 60px;width: 60px;">
</div>
<section class="content" ng-show="loading1 == 1">
	<div class="row">
		<div class="col-xs-12">
		  <div class="box box-primary">
		  	<div class="box-header with-border">
          <h3 class="box-title">Supplier List</h3>
        </div>
		    <div class="box-header">
	          <div class="box-title">
	            <div class="input-group input-group-sm" style="width: 100%">
	              <input type="text" class="form-control" id="searchtext" ng-model="searchtext" onkeyup="angular.element(this).scope().getSearch();" placeholder = "Search By- Supplier's Name / Supplier's Address / Supplier's GST No. / Supplier's Contact Number..."/>
	              <div class="input-group-btn">
	                <button type="button" class="btn btn-info" onclick="window.location = '#/supplier/add'"><i class="fa fa-plus"></i> Add new record</button>
	              </div>
	            </div>
	          </div>
	        </div>
		    <!-- /.box-header -->
		    <div class="box-body table-responsive no-padding">
		      <table class="table table-hover">
		        <thead>
	                <tr>
						<th>Supplier Name</th>
						<th>GST No.</th>
						<th>Address</th>
						<th>State</th>

						<th>City</th>
						<th>Pincode</th>
						<th>Contact No.</th>
						<th>E-Mail</th>

						<th>Contact Person</th>
						<th>Debit</th>
						<th>Credit</th>
						<th ng-hide="theadhide==0">Action</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr ng-repeat="supplier in filteredTodos | filter : supplier">
						<td>{{supplier.sm_name}}</td>
						<td>{{supplier.sm_gst_no}}</td>
						<td>{{supplier.sm_address}}</td>
						<td>{{supplier.sm_state}}</td>

						<td>{{supplier.sm_city}}</td>
						<td>{{supplier.sm_pin}}</td>
						<td>{{supplier.sm_mobile}}</td>
						<td>{{supplier.sm_email}}</td>

						<td>{{supplier.sm_contact_person_name}} ({{supplier.sm_contact_person_number}})</td>
						<td>{{supplier.sm_debit | number : '2'}}</td>
						<td>{{supplier.sm_credit | number : '2'}}</td>
						<td>
							<!-- <i class="fa fa-info-circle" data-toggle="modal" data-target="#view-details" ng-click="viewSupplierDetails1($index)"></i> -->
							<a ng-hide="edithide==0" href="#/supplier/edit/{{supplier.sm_id}}" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
							<i ng-hide="deletehide==0" class="fa fa-trash" data-toggle="tooltip" title="Delete" ng-click="deleteSupplier(supplier.sm_id)"></i>
						</td>
	                </tr>
	            </tbody>
		      </table>
		      <br>
	            <span id="pagination_detail" ng-show="filteredTodos.length > 0" class="pagination_ds">Showing {{ filterUserend }} to {{filterUser}} of {{supplierListcount}} Supplier's</span>
			    <span id="pagination_div" align="right" ng-show="filteredTodos.length > 0"
			          style="float: right;margin-top: -27px;">
			      <pagination
			              ng-model="currentPage"
			              total-items="supplierList.length"
			              max-size="maxSize"
			              boundary-links="true" data-num-pages="noOfPages"
			              items-per-page="numPerPage">
			      </pagination>
		    	</span>
		    </div>
		    <!-- /.box-body -->
		  </div>
		  <!-- /.box -->
		</div>
	</div>
</section>