<section class="content-header" ng-init="getCustomer();">
  <h1>
    Supplier Management
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Supplier</li>
  </ol>
</section>
<section class="content">
  <div class="row">
        <div class="col-xs-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Edit Supplier Details</h3>
        </div>
        <!-- /.box-header -->
          <div class="box-body">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Supplier Name</label>
                    <input type="text"
                        id="sm_supplier_name"
                        ng-model="supplier.sm_supplier_name"
                        typeahead="obj as obj.emp_name for obj in getSearchEmp($viewValue)"
                        typeahead-loading="loadingEmpList"
                        typeahead-no-results="noEmpListResults"
                        class="form-control">
                    <i ng-show="loadingEmpList" class="glyphicon glyphicon-refresh"></i>
                    <div ng-show="noEmpListResults">
                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>GST</label>
                    <input type="text" id="sm_gst" class="form-control" ng-model="supplier.sm_gst" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Address</label>
                    <textarea id="sm_address" class="form-control" ng-model="supplier.sm_address" rows="1"></textarea>
                </div>
            </div>


            <div class="col-lg-6">
                <div class="form-group">
                    <label>State</label>
                    <select id="sm_state" class="form-control" ng-model="supplier.sm_state"></select>
                </div>
            </div>
            
            <div class="col-lg-6">
                <div class="form-group">
                    <label>City</label>
                    <select id="sm_city" class="form-control" ng-model="supplier.sm_city"></select>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Pincode</label>
                    <input type="text" id="sm_pincode" class="form-control" ng-model="supplier.sm_pincode" />
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Contact Number</label>
                    <input type="text" id="sm_mobile" class="form-control" ng-model="supplier.sm_mobile" />
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Email Id</label>
                    <input type="text" id="sm_email" class="form-control" ng-model="supplier.sm_email" />
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Opening Debit</label>
                    <input type="text" id="sm_opendebit" class="form-control" ng-model="supplier.sm_opendebit" />
                </div>
            </div>
                
             <div class="col-lg-6">
                <div class="form-group">
                    <label>Opening Credit</label>
                    <input type="text" id="sm_opencredit" class="form-control" ng-model="supplier.sm_opencredit" />
                </div>
            </div> 

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Contact Person Name</label>
                    <input type="text" id="sm_contact_name" class="form-control" ng-model="supplier.sm_contact_name" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Contact Person Number</label>
                    <input type="text" id="sm_contact_number" class="form-control" ng-model="supplier.sm_contact_number" />
                </div>
            </div>

          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="button" class="btn btn-danger" onclick="window.location = '#/customer'" id="btncancel">Back</button>
            <button type="submit" class="btn btn-success" id="btnsave" ng-click="updateSupplier()">Update</button>
          </div>
      </div>
      <!-- /.box -->
      </div>
    </div>
</section>