<!-- /.row -->
<section class="content-header" ng-init="getAll();">
  <h1> 
    User Management
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">List Role</li>
  </ol>
</section>
<div align="center" v-align="bottom" ng-hide="loading1 == 1" style="margin: auto; height:400px;">
    <img src="resources/reload.gif" style="margin-top: 170px; height: 60px;width: 60px;">
</div>
<section class="content" ng-show="loading1==1">
	<div class="row">
		<div class="col-xs-12">
		  <div class="box box-primary">
		  	<div class="box-header with-border">
          <h3 class="box-title">List Role</h3>
        </div>
		    <div class="box-header">
	          <div class="box-title">
	            <div class="input-group input-group-sm" style="width: 100%">
	              <input type="text" class="form-control" id="searchtext" ng-model="searchtext" onkeyup="angular.element(this).scope().getSearch();" placeholder = "Search Here..."/>
	              <div class="input-group-btn">
	                <button type="button" class="btn btn-info" onclick="window.location = '#/role/add'"><i class="fa fa-plus"></i> Add new record</button>
	              </div>
	            </div>
	          </div>
	        </div>
		    <!-- /.box-header -->
		    <div class="box-body table-responsive no-padding">
		      <table class="table table-hover">
		        <thead>
	                <tr>
	                    <th>Role name</th>
						<th>Role Discription</th>
						<th ng-hide="theadhide==0">Action</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr ng-repeat="user in filteredTodos">
						<td>{{user.rm_name}}</td>
						<td>{{user.rm_description}}</td>
						
						<td>
							<i ng-hide="theadhide==0" class="fa fa-info-circle" data-toggle="modal" data-target="#view-details" ng-click="getPermission($index)"></i>
							<a ng-hide="edithide==0" href="#/role/edit/{{user.rm_id}}"><i class="fa fa-pencil"></i></a>
							<i ng-hide="deletehide==0" class="fa fa-trash" data-toggle="modal" data-target="#confirm-delete" ng-click="deleteRole(user.rm_id)"></i>
						</td>
	                </tr>
	            </tbody>
		      </table>
		      <br>
	            <span id="pagination_detail" ng-show="filteredTodos.length > 0" class="pagination_ds">Showing {{ filterUserend }} to {{filterUser}} of {{roleListcount}} Customer's</span>
			    <span id="pagination_div" align="right" ng-show="filteredTodos.length > 0"
			          style="float: right;margin-top: -27px;">
			      <pagination
			              ng-model="currentPage"
			              total-items="roleListcount"
			              max-size="maxSize"
			              boundary-links="true" data-num-pages="noOfPages"
			              items-per-page="numPerPage">
			      </pagination>
		    	</span>
		    </div>
		    <!-- /.box-body -->
		  </div>
		  <!-- /.box -->
		</div>
	</div>
</section>

<div class="modal fade" id="view-details">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Permission Details</h4>
      </div>
      <div class="modal-body table-responsive">
      <table class="table" border="1">
      <thead>
      <tr>
        <th>Module</th>
        <th>Permission</th>
      </tr>
      </thead>
      <tbody id="content">
      <tr ng-repeat="permission in permissionList">
        <td>{{permission.pm_name}}</td>
       <td><span ng-repeat="sub in permission.subpermissions"><input type="checkbox"  ng-model='sub.psm_select'>&nbsp;{{sub.psm_permissions}} &nbsp;
        <span ng-repeat="supersub in sub.SuperSubpermissions"><input type="checkbox"  ng-model='supersub.pssm_select'>&nbsp;{{supersub.pssm_permission}} &nbsp;</span>
       </span></td>
      </tr>
      </tbody>
    </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->