 <section class="content-header" ng-init="getUser();">
  <h1>
    User Management
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Edit User Detailes</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Edit User Detailes</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body container">
          <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label>Employee Name</label>
                <input type="text"
                      id="um_emp_id"
                      ng-model="user.um_emp_id"
                      typeahead="obj as obj.emp_name for obj in getSearchEmp($viewValue)"
                      typeahead-loading="loadingEmpList"
                      typeahead-no-results="noEmpListResults"
                      class="form-control">
                <i ng-show="loadingEmpList" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="noEmpListResults">
                  <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label>Username</label>
              <input type="text" id="um_user_name" class="form-control" ng-model="user.um_user_name" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
              <div class="form-group">
                  <label>Password</label>
                  <input type="text" id="um_user_password" class="form-control" ng-model="user.um_user_password"/>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="form-group">
                  <label>Confirm Password</label>
                  <input type="text" id="um_confirm_password" class="form-control" ng-model="user.um_confirm_password" />
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
              <div class="form-group">
                  <label>Assign Roles</label>
                  <select id="um_assign_role" class="form-control" ng-model="user.um_assign_role"></select>
              </div>
          </div>
        </div>
          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <button type="button" class="btn btn-danger" onclick="window.location = '#/user'" id="btncancel">Back</button>
            <button type="submit" class="btn btn-success" id="btnsave" ng-click="addUser()">Update</button>
        </div>
      </div>
      <!-- /.box -->
      </div>    
  </div>
</section>